[2020-03-13 12:22] vukosim opened #2 "Missing 4 Cases 13 March 2020"
As per 13 March 2020, there are supposed to be 24 confirmed cases. Missing 4.

[2020-03-13 19:35] Ofentswe1 opened #4 "Different Dates format"
Hi @vukosim, can you make all the date format to be the same, you are using two different format, you are using  YYYY-MM-DD and YYYY-DD-MM on the same column, I have explored the data and I have spotted that.

[2020-03-14 05:56] vukosim commented on #4
Hey @Ofentswe1 the date formats are the same, unless I cant see.

[2020-03-14 07:52] Ofentswe1 commented on #4
I will fix the dates in the CSV and push shortly

[2020-03-14 08:00] Ofentswe1 commented on #4
Oh I see, Its pandas on my site it picks up the wrong date formats but I have fixed it, I will push after the changes

[2020-03-14 08:00] #4 closed

[2020-03-14 08:25] vukosim commented on #4
Maybe you can add also a column in a standard date time like YYYYMMDD?

[2020-03-14 08:55] vukosim commented on #2
4 extra cases are from the initial group who have travelled to Italy. Still need to get the official statement from NICD or DoH. Should be after this report http://www.nicd.ac.za/third-confirmed-case-of-covid-19-in-south-africa/

[2020-03-14 08:57] vukosim commented on #2
More information on specifics of group https://businesstech.co.za/news/government/380185/7-south-africans-from-italian-tour-group-test-positive-for-covid-19-coronavirus/

[2020-03-15 08:19] vukosim opened #9 "[Feature] Automated scrapping of ministry releases"
**Is your feature request related to a problem? Please describe.**
Not a problem but an enhancement.

**Describe the solution you'd like**
Use the ministry releases as an automated way to suggest new additions to the data.

**Describe alternatives you've considered**
Currently manually populated.

[2020-03-15 16:17] cishiv commented on #9
@vukosim I'd be happy to pick this up. I've started on a simple scraping solution based on the DOM format of the https://www.gov.za/newsroom page. Let me know if there are any specific requirements you have for the solution.

Some initial thoughts:

- pull the _links_ out of https://www.gov.za/newsroom
- parse these links and apply 'sane' matching conditions to ensure that they are related to covi

[2020-03-15 16:25] vukosim commented on #9
Thanks that looks great. It can be a script.

[2020-03-15 17:48] cishiv commented on #9
Hmm, looking at the complexity of programatically creating a pull request makes me think that it's a task better left for another day, for now, a rest API which allows you to download an updated file should suffice `hostname/get-updated-data` which returns `covid19za_timeline_confirmed.csv`

[2020-03-15 18:26] vukosim commented on #9
Thats understood. A simple one would be a

statement -> csv file (just with the cases in the statement).

On my side working to try to get someone from NICD to just publish their own CSV.

[2020-03-16 05:11] RonRichman opened #11 "Local Transmission"
Last night, the President announced that there has been local transmission. It would be good to track these cases separately.

[2020-03-16 05:16] vukosim commented on #11
There is a transmission type on the CSV and the dashboard should be updated with a number of other info by end of today.

[2020-03-16 10:08] #11 closed

[2020-03-16 10:12] Ofentswe1 opened #12 "Missing 10 Confirmed Cases 15 March"
@vukosi we have new 10 cases confirmed but not yet out on gov.za (total should now be 61)

[2020-03-16 10:20] vukosim commented on #12
@Ofentswe1 we need to have the official statement so that we can update. So far only the presidents number. We can make a decision later this afternoon about adding empty cases to match with the presidents numbers.

[2020-03-16 10:25] Ofentswe1 commented on #12
@vukosi, Yes we can,  I have also used the WhatsApp bot and I saw a new case in Limpopo, we will wait for official statement to make decision later

[2020-03-16 10:45] vukosim commented on #12
Added 10 cases from the Whatsapp statement.

Do not have demogrpahic information and transmission type so left empty

[2020-03-16 11:25] vukosim commented on #12
Official statement out. 11 cases updated https://sacoronavirus.co.za/2020/03/16/statement-by-the-minister-covid-19-16-march-2020/

[2020-03-16 11:25] #12 closed

[2020-03-16 11:54] Ofentswe1 commented on #12
Thanks @vukosim

[2020-03-16 11:54] MikeMcMalace opened #13 "[Feature] Hospital and district data for visualisation"
Currently, there are fragmented and limited consolidated public data regarding the healthcare systems in South Africa. This extends beyond just knowing about a particular hospital but also relates to functions of the hospital such as specialised care, location, the estimated population in the district, and which hospitals can potentially assist in the COVID-19 pandemic.

To combat this, hospitals

[2020-03-16 11:56] MikeMcMalace commented on #13
[16_03_2020_KZNHospitalDatabase.xlsx](https://github.com/dsfsi/covid19za/files/4338027/16_03_2020_KZNHospitalDatabase.xlsx)

[2020-03-16 11:57] Ofentswe1 commented on #2
Are these 4 cases still outstanding at the moment? or not yet confirmed by department of health?

[2020-03-16 12:20] vukosim commented on #2
Yes, we have traced these. Thanks.

[2020-03-16 12:20] #2 closed

[2020-03-16 13:25] vukosim opened #14 "[Feature] SA COVID Project: Vulnerable Communities Map"
**Describe the solution you'd like**
See https://www.offerzen.com/blog/sa-covid-19-project-vulnerable-communities-map

If there are interesting datasets, please do make them available to Offerzen as well as make them available here.

[2020-03-16 18:25] vukosim commented on #13
See health_system_za_public* files in data/

populating with a few examples is needed.

[2020-03-16 19:23] MikeMcMalace commented on #13
The Department of Health for each South African province has this data, but it is scattered and there is not consistent format between the different departments. Consolidating this information as a dataset will be valuable for visualisation as well as for analytics related to capacity and systems.

[2020-03-17 04:56] vukosim commented on #13
See

General: https://github.com/dsfsi/covid19za/blob/master/data/health_system_za_public_hospitals.csv
Detailed: https://github.com/dsfsi/covid19za/blob/master/data/health_system_za_public_hospitals_extended_details.csv
Contacts: https://github.com/dsfsi/covid19za/blob/master/data/health_system_za_public_hospitals_contacts.csv

[2020-03-17 05:06] vukosim opened #15 "[Feature] Data Access API"
**Describe the solution you'd like**
API to access the data easily.

@Vutlhari is working on this.

[2020-03-17 07:05] vukosim opened #16 "[Feature] Notebook to compare SA growth curve to other countries and understand where we are."
**Describe the solution you'd like**
There have been comparisons across different groups to track spread since first case. See example [here](https://public.tableau.com/profile/john.alexis.guerra.g.mez?fbclid=IwAR1HSwbCEmpLjcOYKd8VNgUfq3MAHoHVPLu_6Xi-uSz8VVFtG14680NM9MU#!/vizhome/time_series_19-covid-Confirmed/Confirmedcaseslatam?publish=yes)

Can we create this for South Africa vs rest of world
S

[2020-03-17 07:14] kaysiz commented on #15
@vukosim is the API project open, if so share so we can contribute where necessary

[2020-03-17 07:18] vukosim commented on #15
@Vutlhari has finished version 1, just waiting for him to do the pull request here. Then you can assist.

[2020-03-17 07:39] anelda opened #17 "[Feature] Add daily # of tests performed on daily number of positives confirmed"
Hi Vukosi,

I'm thinking it may be useful to display the number of tests done against the number of cases confirmed on the barchart on page 2 of the dashboard. Or showing positives vs negatives. It will give us an idea of how many tests are essentially wasted because we're testing unnecessary due to not being able to prioritize patients and highlighting the symptoms that are required for testing?

[2020-03-17 07:40] vukosim opened #18 "[Feature] Add airport scan data and other data from NICD situational reports"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
See reports [here](http://www.nicd.ac.za/diseases-a-z-index/covid-19/covid-19-situational-reports/). We need the numbers per day in csv format.

[2020-03-17 07:44] riazarbi opened #19 "[Feature] Add municipality to confirmed, deaths and tests datasets"
**Is your feature request related to a problem? Please describe.**
We would like to monitor occurrences on a municipality level

**Describe the solution you'd like**
A new column in the confirmed dataset (at a minimum) stating municipality

**Describe alternatives you've considered**
Contacting the NICD directly. We'll still pursue this, but they are probably swamped.

[2020-03-17 08:08] vukosim commented on #17
Can you maybe provide a jupyter notebook with the visualisation. Just clone the repo and do a pull request.

[2020-03-17 08:53] vukosim commented on #15
Version 1.0 now available https://github.com/dsfsi/covid19za/tree/master/api

[2020-03-17 09:39] vukosim commented on #19
Hmm. Yeah, until that info is released by an official source [NICD, DoH], we won't put it in here. I have stayed away from news reports as a source for this reason.

[2020-03-17 11:57] riazarbi commented on #19
Thanks for replying, I'm sure you guys are swamped.

Alright, we are reaching out to NICD and DoH separately this week. If we find someone receptive we will ask the if this can be released as well.

Are you manually parsing your data from the NICD blog posts ([example](http://www.nicd.ac.za/covid-19-update-18/)) or are you getting some sort of data download?

I ask because if we do manage to talk

[2020-03-17 12:06] vukosim commented on #19
Thanks for reaching out to NICD. Through other channels, we have also asked for NICD and DoH to have machine-readable files with their posts.

Currently, it's manual to populate, but a scraper is in a pull-request and waiting for a final readme, so we should be able to do auto scraping by this evening.

We all hope to find someone receptive. I would love to have them as the data custodians, it wil

[2020-03-17 12:08] riazarbi commented on #19
Alright, will do. Closing this for now, but will reopen if it becomes feasible in the future.

[2020-03-17 18:36] vukosim commented on #13
@MikeMcMalace See latest commit to branch Hospital_data

[2020-03-17 21:14] vukosim commented on #13
Think now getting per hospital ICU is next

Also thanks @elolelo

[2020-03-18 04:50] vukosim commented on #9
This has been merged. Tested with mac.

We just need to update the documentation and also dependencies.

[2020-03-18 06:15] MikeMcMalace commented on #13
Thank you Nompumelelo, this is great!

[2020-03-18 08:43] freever commented on #17
@anelda I also think number of tests conducted per day would be valuable, but for a different reason. If there are 10 new cases today out of 20 tests conducted, and 50 new cases tomorrow out of 1000 tests conducted, then I won't be alarmed about the spike in cases because I know it comes from ramping up our testing efforts.

Either way, tests condicted per day would be valuable information to have

[2020-03-18 08:46] vukosim commented on #17
Thanks both. There is a csv file with the cumulative tests. If you can provide a jupyter notebook or graph with your idea here, we can test it out @anelda @freever

[2020-03-18 08:47] vukosim commented on #9
@cishiv NICD seems to now lag sacoronavirus.co.za, do we just update the url point?

[2020-03-18 08:50] freever commented on #17
@vukosim what is a jupyter notebook? do you just want to see a visual mockup of how it could look?

[2020-03-18 08:53] anelda commented on #17
Hi both, sorry yes, I cloned the repo already and will try to do the plot this morning. @freever if you have an idea of how the plot should look, let me know. I have experience with Jupyter and can write the code (python) - do you have experience with Python? I got a bit sidetracked when I started thinking about what the best  way would be to display it. Thinking a stacked column showing negatives

[2020-03-18 09:04] Data-Saba opened #22 "NEW INFECTIONS"
## Which Dataset

## Error Description
Two-year-old case here states that it is from travelling from New Zealand yet the government and NICD statements state 2-year-old male with no international travel history.

## Suggested fixes
  1.
  1.
  1.

[2020-03-18 09:10] vukosim commented on #22
Which case id is that @Data-Saba?

[2020-03-18 09:14] vukosim commented on #22
Both 2 year olds are correct. Thanks @Data-Saba closing this.

[2020-03-18 09:14] #22 closed

[2020-03-18 09:15] freever commented on #17
@anelda A stacked graph sounds perfect. I don't know anything about python, I will leave it to the experts. Just wanted to ask for the data :)

[2020-03-18 10:04] cishiv commented on #9
It might just work, it depends on how they are cataloging the information. Let me take a look after work today and I will post an update / new PR to allow scraping from both NICD and sacoronavirus @vukosim

[2020-03-18 11:01] Ofentswe1 commented on #16
The link is unavailable, can you attach it as image if you have it open before refreshing.

[2020-03-18 16:33] vukosim commented on #16
Should be working now

[2020-03-18 17:01] Ofentswe1 commented on #16
I will have a look it and try to replicate similar thing for South Africa

[2020-03-18 17:54] vukosim commented on #16
![image](https://user-images.githubusercontent.com/836223/76991385-2eb3ee00-6952-11ea-95a3-0b99668cedd7.png)

If we could do this for SADC and Africa.

[2020-03-18 18:07] mtswenij opened #26 "[Feature] Add Negative Cases"
**Negative Cases**
It would also be useful to add negative cases in the dashboard

[2020-03-18 18:14] Ofentswe1 commented on #16
Thanks @vukosim

[2020-03-18 18:15] vukosim commented on #13
You might also want to dig into https://opendataza.gitbook.io/toolkit/open-data-resources/healthcare-data-resources

@elolelo and @MikeMcMalace

[2020-03-18 18:28] vukosim commented on #26
Hmm, we have the total tests which should mean most are negative.

[2020-03-18 18:29] mtswenij commented on #26
Sure, I understood the positive minus tested would show work, but may be nice to have it like in the doh website

[2020-03-18 18:46] vukosim commented on #26
Will look at the best way to put it up. Thanks @mtswenij

[2020-03-18 20:22] Baadier-Sydow commented on #14
For some reason your link when clicked doesnt take you to the blog post.

https://www.offerzen.com/blog/sa-covid-19-project-vulnerable-communities-map

Looks like the 19 is missing from yours.

[2020-03-18 22:15] WeileiZeng opened #27 "Open Source Helps!"
Thanks for your work to help the people in need! Your site has been added! I currently maintain the Open-Source-COVID-19 page, which collects all open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projects. You are al

[2020-03-19 06:06] vukosim commented on #14
Think they changed it after. Will fix

[2020-03-19 07:32] vukosim commented on #27
Thank you.

[2020-03-19 07:33] vukosim opened #28 "[Feature] From Day 0 Analysis"
**Describe the solution you'd like**
Notebooks and scripts to recreate the analysis from Day 0 across Africa and the rest of the world vs SA.

[2020-03-19 07:34] vukosim commented on #28
@altadewaal If you could assign this to yourself.

[2020-03-19 07:41] DataDroidKay opened #29 "[IDEA] Split the transmission type By Gender and Age"
**Is your feature request related to a problem? Please describe.**
This is just an idea.

**Describe the solution you'd like**
Would be insteresting to see the transmission type by gender and age

**Describe alternatives you've considered**

**Additional context**

[2020-03-19 10:24] Baadier-Sydow commented on #14
Sweet :)

[2020-03-19 12:44] anelda commented on #26
I was looking into that as part of #17. Have written the code but getting stuck with the visualisation. Also had a load of questions about the data. Will share code later today.

[2020-03-19 13:19] AngusRed opened #31 "[Feature] Is it possible to get a RSS feed or perhaps a Twitter"
Is it possible to get a RSS feed or perhaps a Twitter bot linked up that everytime you folks update the data it sends out a summaritive tweet? I can then plug that to a Discord Intel channel using MEE6 Mod bot. Keep up the good work![Feature]

[2020-03-19 13:21] AngusRed commented on #31
No issues, just a suggestion/request.

Is it possible to get a RSS feed or perhaps a Twitter bot linked up that every time you folks update the data it sends out a summaritive tweet? I can then plug that to a Discord Intel channel using MEE6 Mod bot. Keep up the good work![Feature]

MEE6: https://mee6.xyz/dashboard/687602309395382282/welcome

[2020-03-19 13:36] ensoesie opened #32 "Need volunteers to create line list for COVID19 cases in Africa"
We want to build what is called a line list – a table summarizing information about people who are infected, dead, recovered etc. The table would include demographic and location information. Such a dataset would help us understand how COVID19 transmission in Africa is similar or different to what’s being observed in other regions of the world.

This would be part of a broader effort focused on co

[2020-03-19 14:25] jphfisher opened #33 "patient-level comorbidity data please!!"
Hi,

I'm a paediatrician working in the UK.  We need data on the pre-existing medical conditions of children who catch COVID, so that we can start looking for patterns.

When you're collecting your data, please please include individual patient data on people with co-morbidities, especially children but I figure it would be useful for adults too!  We'd need their ages as well ;)

I'm happy to be c

[2020-03-19 16:35] anelda commented on #17
I have two ways of showing this data now, but there are some challenges to show this daily:

- tests take 2 days (+-) before results are available, so not sure how valid it is to do [tests - positives] = negatives per day (see also issue #26)
- there are days when we don't have data for how many tests were perform - we can extrapolate the data, but it won't be true (e.g. 9 March - no info about te

[2020-03-19 17:25] vukosim commented on #33
Unfortunately, we do not have that available yet being published by [NICD](nicd.ac.za)

[2020-03-19 17:39] vukosim commented on #32
This will be moving to https://github.com/dsfsi/covid19africa

[2020-03-19 18:46] vukosim commented on #13
Hey @MikeMcMalace how are we doing here?

[2020-03-19 19:49] devontighe opened #38 "[Feature] Add positive cases as a % of cumulative tests and % of SA population"
The number of confirmed positive cases is a function of how many tests have been done.  In order to understand the extent of Covid-19's penetration, we need to know # of positive cases and # of people that have been tested relative to the total population, which is currently estimated as 59M (https://www.worldometers.info/world-population/south-africa-population/)

[2020-03-19 21:06] cishiv commented on #9
Updated the scraper with a new parser for sacoronavirus.co.za and made the command-line a bit friendlier https://github.com/dsfsi/covid19za/pull/40

[2020-03-19 21:10] cishiv commented on #31
Hmm, I can look at a possible Twitter integration if no one picks this up by Saturday (19-03-2020)

[2020-03-20 06:04] vukosim opened #41 "[Feature] Custom Domain for Dashboard"
Investigate getting a custom domain for the dashboard that is easy

maybe https://coronavirusza.co.za

[2020-03-20 06:16] mlsmith002 opened #42 "[Feature] No of recoveries on Dashboard"
**Is your feature request related to a problem? Please describe.**
Not relating to an issue, just an idea.

**Describe the solution you'd like**
Overlay the number of infections with the number of recoveries.

**Describe alternatives you've considered**

**Additional context**
Currently the DB indicates that the mortality rate in SA is 0. I am concerned that people will read it in context of the n

[2020-03-20 06:19] freever commented on #17
Maybe it would be best just to show the number of reported tests on their own. If we don't have a reliable source for both number of tests and number of positive tests then it won't make sense to show them together.

It might be nice to have 2 axes - one for tests conducted per day, and one for cumlative tests conducted up to that day - but I guess it depends on how the data actually looks when pl

[2020-03-20 07:10] anelda commented on #38
@devontighe do you have an example of plot that you'd like to see? We've been trying to do that (also showing negative tests). Please see comments at #17. I'm a bit stuck with coming up with a good plot that will tell a story.

[2020-03-20 07:16] anelda opened #43 "[BUG][DATA] Tests dates error"
**Describe the bug**
The column `YYYYMMDD` and `date` in `covid19za_timeline_testing.csv` does not agree in all cases. See e.g.
`
07-03-2020 | 20200306
`
I'm not sure what the significance of the two columns are?
Don't see the same problem in `covid19za_timeline_confirmed.csv`

**To Reproduce**
Steps to reproduce the behavior:
Go to https://github.com/dsfsi/covid19za/blob/master/data/covid19za_tim

[2020-03-20 07:18] vukosim commented on #43
Thank you fixed. It can impact downstream data products.

[2020-03-20 07:18] #43 closed

[2020-03-20 07:19] vukosim commented on #16
@altadewaal has created a few notebooks on this. Closing.

[2020-03-20 07:19] #16 closed

[2020-03-20 07:20] vukosim commented on #28
@altadewaal has closed this.

[2020-03-20 07:20] #28 closed

[2020-03-20 07:21] #9 closed

[2020-03-20 07:25] anelda commented on #41
Be careful not to cause confusion with http://sacoronavirus.co.za/ the official DoH site. How about https://coronavirus-dashboard.co.za or something to that effect?

[2020-03-20 07:46] vukosim commented on #41
Great point.

[2020-03-20 07:47] brucellino commented on #33
@vukosim would it be possible to liase with NICD to request that this be part of their patient intake questionnaire?

[2020-03-20 08:21] anelda opened #44 "[Other Dashboards] List of dashboards from rest of world and SA"
I came across this list https://github.com/CSSEGISandData/COVID-19/issues/576.

Wanted to see what others are doing and how they are displaying various pieces of information. Maybe useful resource if people want to get ideas for displaying data. Most look more or less the same at this stage.

Nobody else displays information about # of tests or # negative cases (see #17, #26, #38) yet

[2020-03-20 08:27] anelda commented on #17
Found this graph for showing # of positives vs # tests - https://ourworldindata.org/exports/tests-vs-confirmed-cases-covid-19_v7_850x600.svg but we don't have sufficient information to do something similar. If we had info about how many people were tested per province, that might be useful, but as far as I Googled, that level of info is not available.

[2020-03-20 08:32] anelda commented on #17
@vukosim the Hong Kong dashboard is very clean - not showing graph of number of tests done vs positive/negative, but showing the numbers some other issues are also asking for. How about doing it like this rather than showing another plot. At least until we have more data points that will look better on a plot? https://chp-dashboard.geodata.gov.hk/covid-19/en.html

[2020-03-20 09:37] anelda commented on #44
https://mediahack.co.za/datastories/coronavirus/dashboard/ by Media Hack Collective - media house specialising in data journalism (source - https://www.itweb.co.za/content/wbrpO7gYb9lqDLZn)

[2020-03-20 09:51] devontighe commented on #17
@anelda I would caution referred to tests being "wasted". I 100% agree with you that we want testing to be prioritized amongst those who need it most. But ultimately the more people who are tested, the better. South Korea has taught us that. Maybe something like this could work?  (or hold off on including % recovered to start as that % recovered would overlap with % negative)

![SA_Covid19_chart](

[2020-03-20 09:53] devontighe commented on #38
@anelda I've responded in comment #17 . Maybe something like this could work? (or hold off on including % recovered to start as that % recovered would overlap with % negative)

![SA_Covid19_chart](https://user-images.githubusercontent.com/25172032/77152867-71d0a700-6aa1-11ea-8add-4688664a415f.jpeg)

[2020-03-20 10:10] MikeMcMalace commented on #13
Her @vukosim , currently with regard to the district data we have 351 hospitals, with complete data except for 2 with missing geodata. Unfortunately, name changes etc. complicate this a bit.
[20_03_2020_CurrentHospitalData_12_05pm.xlsx](https://github.com/dsfsi/covid19za/files/4358894/20_03_2020_CurrentHospitalData_12_05pm.xlsx)

[2020-03-20 10:20] anelda commented on #17
@devontighe thanks so much for pointing out the negative connotation to using the word 'wasted' here. Bad choice of words, sorry! Yes, totally agree. More tests are better. Think I was concerned that random people will go for testing which will make it impossible for people who had high chance of really being infected tested, but sounds like that shouldn't happen given the criteria for testing?

T

[2020-03-20 11:55] anelda commented on #17
Yip, so just to re-iterated what you said above. For someone to be declared 'recovered' they have to have 2 negative tests. I can't find a source for SA to confirm that's how recovered cases are classified here. Only found link to US CDC - https://www.cdc.gov/coronavirus/2019-ncov/healthcare-facilities/hcp-return-work.html.

What does it mean for how the data is shown? In my opinion then negative

[2020-03-20 12:05] Baadier-Sydow commented on #15
@vukosim I'm working on parsing the data files and then making it publicly available via an open API. Will update here when it's done. It will likely be quick and dirty for now as I want to get it up this weekend.

[2020-03-20 13:22] vukosim commented on #13
@MikeMcMalace please see the Hospital Data branch. I would suggest you work on that as it also has info on where the data came from as per @elolelo

[2020-03-20 13:36] thomasabbott opened #47 "Add column for Imported / Local transmission"
At least at this stage, one interesting thing about the SA data is how much local transmission there has been, compared to people arriving from abroad, already infected. I could try to parse the "transmission type" column.

Could you split the "transmission type" column in data/covid19za_timeline_confirmed.csv to be
a) imported/local/unknown
b) countries visited if imported

I'm happy to do the sp

[2020-03-20 13:49] vukosim commented on #47
There is already a csv file with the transmission types. It was seperate for another reason, but we may fuse it.

[2020-03-20 14:12] Vutlhari commented on #15
Hi @Baadier-Sydow is there a specific reason why you want to develop a separate API?

[2020-03-20 14:17] Baadier-Sydow commented on #15
I mostly wanted to deploy it somewhere and have it be publicly accessible while being able to extend it. I wasn't familiar with the tech that your API is done in and I don't think you have it up somewhere?

[2020-03-20 14:26] Vutlhari commented on #15
It's hosted [here](https://covid-za-api.herokuapp.com/cases/confirmed?province=LP), I updated the [README](https://github.com/dsfsi/covid19za/tree/master/api) yesterday. I also added a Dockerfile to ensure that it can be hosted on any platform that supports containers. :)

[2020-03-20 15:24] thomasabbott commented on #47
OK.
That file isn't in good shape, but fair enough to split it out if there'll be lots of countries like that.
I'm parsing the text, seems to work for now.

[2020-03-20 15:24] #47 closed

[2020-03-20 17:03] vukosim opened #49 "[Feature] Check for differences better NICD, DoH and SACoronavirus Statements"
Statements are supposed to be the same but it seems NICD sometimes changes their statement when case data becomes available. See these two statements

http://www.nicd.ac.za/covid-19-update-21/

and

https://sacoronavirus.co.za/2020/03/19/latest-confirmed-cases-of-covid-19-19th-march-2020/

In the first 1 it says the first 2 patients when to the DRC, the second statement is different.

Also,

See t

[2020-03-20 17:09] Baadier-Sydow commented on #15
Awesome!! I'll give it a try :)

[2020-03-20 17:21] ntobekoMkhize opened #50 "[Feature] Issues by region in a district"
**Is your feature request related to a problem? Please describe.**
Currently the dashboard does not allow the user to drill down and explore the cased within their immediate locality (region/district)

**Describe the solution you'd like**
There could be an additional field in the confirmed_cases model to represent the region in which the case was detected.

**Describe alternatives you've considere

[2020-03-20 17:26] vukosim commented on #50
Can you provide the city of Johannesburg example

[2020-03-20 17:31] ntobekoMkhize commented on #50
I only have the attached PDF sent via WhatsApp, I'm still trying to determine where it was originally published.

![Image](https://user-images.githubusercontent.com/12089287/77190036-30f88280-6ae1-11ea-91fe-3b9844b145db.jpeg)

[2020-03-20 17:36] quincy111 opened #51 "[DATA] FS last entry is a FEMALE not a MALE"
## Which Dataset
covid19za_timeline_confirmed.csv

## Error Description
The 32 year old FEMALE was incorrectly made a MALE in the PDF.  In the raw data she is a FEMALE.  Blame the GOV.

## Suggested fixes
  1.  Change the last Free State Entry for 20032020 to a FEMALE
  1.
  1.

[2020-03-20 17:55] vukosim commented on #50
Yeah we need to know where we can find the original source.

On Fri, 20 Mar 2020, 19:31 ntobekoMkhize, <notifications@github.com> wrote:

[2020-03-20 17:57] vukosim commented on #51
Thanks. Is this a discrepancy across statements. Can you upload the incorrect and correct one?

[2020-03-21 05:22] vukosim opened #53 "[Feature] Mapping Hospitals"
**Describe the solution you'd like**
We now have hospital data available, it will be updated in the next few days. We need to map all of the hospitals. On hover, there must be some information on the district size, bed capacity etc.

[2020-03-21 05:37] vukosim commented on #53
Hey @BolelangHS

[2020-03-21 05:58] vukosim commented on #15
I am closing this.

[2020-03-21 05:58] #15 closed

[2020-03-21 08:24] vukosim commented on #13
See https://w.wiki/Ksn

[2020-03-21 08:36] MikeMcMalace commented on #13
Fantastic! Is this linked?

[2020-03-21 08:46] vukosim commented on #13
The data on that link is from WIkiData. So wikidata would have to be updated. We have a volunteer from Codebridge who says they will update during the week.

[2020-03-21 11:43] vukosim opened #54 "[BUG] Scraper issues"
**Describe the bug**
Cannot scrape NICD or SACoronavirus.co.za

http://www.nicd.ac.za/covid-19-update-23/

**Screenshots**

![image](https://user-images.githubusercontent.com/836223/77225676-deb77000-6b79-11ea-8f7a-d6936e82e228.png)

**Expected behavior**
Should create csv

Hey @cishiv

[2020-03-21 12:02] vukosim commented on #51
Thanks @quincy111, NICD released updated PDFs now so using that, will close this.

[2020-03-21 12:02] #51 closed

[2020-03-21 12:02] vukosim commented on #51
https://sacoronavirus.co.za/wp-content/uploads/2020/03/Latest-confirmed-cases-21-March-.pdf.pdf.pdf

[2020-03-21 12:09] vukosim opened #55 "[Feature] Validate current csv list with DoH PDF"
See the pdf here. https://sacoronavirus.co.za/wp-content/uploads/2020/03/Latest-confirmed-cases-21-March-.pdf.pdf.pdf

DoH has now created a sheet inside the PDF that has some patient demographics. Can we validate these with our confirmed list.

[2020-03-21 12:09] vukosim commented on #55
[Latest-confirmed-cases-21-March-.pdf.pdf.pdf](https://github.com/dsfsi/covid19za/files/4362827/Latest-confirmed-cases-21-March-.pdf.pdf.pdf)

[2020-03-21 17:36] Baadier-Sydow opened #56 "[BUG] Enable CORS on API"
**Describe the bug**
Retrieving data from the API programmatically from localhost throws CORS exceptions.

`Access to XMLHttpRequest at 'https://covid-za-api.herokuapp.com/cases/confirmed' from origin 'http://localhost:8100' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt t

[2020-03-21 17:56] vukosim commented on #56
Thanks, @vt-riq please take a look.

[2020-03-22 05:23] Shaz2472 opened #57 "[Feature]Hopitalization vs Self-isolation"
**Confirmed Cases that requires hospitalization or NOT.**
Is it possible to have another column/measurement that would list if the patient required hospitalization or not?

**Hospitalized or Self-Isolated feature**
A column that would indicate if the patient was hospitalized that could (and i could be very wrong) serve as proxy to the serious of the infection

[2020-03-22 09:07] NoorMosia opened #58 "[DATA] WC and KZN data may be incorrect"
## Error Description
according to news24 and timeslive the numbers are 27 and 74 not 26 and 75 respectively.

[2020-03-22 09:16] vukosim commented on #58
Thank you. We will investigate.

[2020-03-22 11:11] vukosim commented on #54
@cishiv also some errors in parsing NICD. See

for

http://www.nicd.ac.za/covid-19-update-21/

we get
9-03-2020,20200319,South Africa,LIM,ZA-LIM,56,female,Travelled to France

but it is supposed to be

Mpumalanga, not limpopo

[2020-03-22 11:12] vukosim commented on #54
Also for limpopo

it shoudl be ZA-LP and LP not LIM

as per https://en.wikipedia.org/wiki/ISO_3166-2:ZA

[2020-03-22 12:34] JayWelsh commented on #53
Hi @vukosim , I have written the code to map the hospitals but it seems that we currently lack location data for hospitals in the Western Cape, here is a preview from my localhost:

<img width="885" alt="Screenshot 2020-03-22 at 14 31 23" src="https://user-images.githubusercontent.com/14224459/77249519-3de4b580-6c4a-11ea-8b82-ed7fa4d7f47c.png">

[2020-03-22 12:46] vukosim commented on #53
That's fine. We'll be updating soon with that. Is the hover information per hospital. Is it possible to also have a hovering table with a list of all the hospitals?

[2020-03-22 20:24] Baadier-Sydow opened #65 "Correctly citing the dataset"
Hi,

I saw that a citation for correctly citing the dataset has been added to the repos readme file.

I'm building a dashboard with the data and would like to check if I'm correctly citing the dataset on my [Data Sources](https://coronavirusdashboardsouthafrica.com/data) page?

[2020-03-22 21:01] Vutlhari commented on #56
@Baadier-Sydow this should be fixed now. Please confirm.

cc @vukosim

[2020-03-22 21:16] huntingphi commented on #41
I've got coronavirusinfo.co.za parked, you're free to use it if you want

[2020-03-23 05:46] vukosim commented on #65
Link to the repo

And then also write:

**Citation:** Marivate, Vukosi, de Waal, Alta, Combrink, Herkulaas, Lebogo, Ofentswe, Moodley, Shivan, Mtsweni, Nompumelelo, & Rikhotso, Vuthlari. (2020). Coronavirus disease (COVID-19) case data - South Africa [Data set]. Zenodo. http://doi.org/10.5281/zenodo.3723347

[2020-03-23 06:23] mitchwongho opened #67 "[BUG] `Cases` Mispelling"
**Describe the bug**
The word `cases` is misspelled as `casis` on page 2 of the dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'page #2' on the Daily Positive Casis graph

**Expected behavior**
`Casis` should be spelled as `Cases`

**Screenshots**
<img width="295" alt="Screenshot 2020-03-23 at 08 15 22" src="https://user-images.githubusercontent.com/885861/77287813-24417d80-

[2020-03-23 06:27] lainglo commented on #53
hi guys, not sure if you are aware of these tools / sites:

https://healthsites.io/map
https://www.healthestablishments.org.za/Home/Facility

[2020-03-23 06:53] vukosim commented on #67
Thanks, fixed.

[2020-03-23 07:00] #67 closed

[2020-03-23 07:43] Baadier-Sydow commented on #65
Sure thing will update that this evening.

[2020-03-23 08:28] vukosim opened #68 "[Feature] Updating the license for Data Use"
Currently the data is in CC 4.0 SA NC and wanted to discuss if we just leave it as CC 4.0 SA?

[2020-03-23 08:43] NoorMosia opened #69 "[DATA] transmission type on entry with a case_id of 7"
on the api, the entry with case_id of 7 and timestamp of 20200309, has a transmission_type as "r".

[2020-03-23 09:04] Baadier-Sydow opened #70 "What language/technology to learn to assist the DSFSI on Covid19ZA?"
Hi,

I'm busy using the data on my own side project but wanted to contribute some of my time back to the project to help out.

What tech should I learn to help out?

I saw Go on the API?

[2020-03-23 09:41] #68 closed

[2020-03-23 12:35] shikwambana commented on #70
Really good question. I would also like to know

[2020-03-23 13:57] MikeMcMalace commented on #53
Hey, aware yes. The problem with these are that they do not specify capacity and district information.

Currently, you can get data like this (see below) from the National data dictionary.
Health Patient Registration System implemented	Yes
Health Patient Registration System registered patients as at 16/03/2020	3157
Ideal Clinic score	59
Ideal Clinic category	Not achieved
Ward Based Outreach Team l

[2020-03-23 14:10] lainglo commented on #53
Thanks @MikeMcMalace . I am currently working on a Master Facility List web application for DoH. Just want to make sure we are all coordinating and not duplicating any efforts. We are pushing to go live asap, will let you know any details.

Glad to help.

[2020-03-23 14:21] nikrich opened #73 "[Data] Unknown Province"
## Which Dataset
covid19za_provincial_cumulative_timeline_confirmed

## Error Description
In the latest release of cases data, DIRCO eleased all the province data with the addition of an unknown field since the province isn't verified. See below:

![Untitled](https://user-images.githubusercontent.com/8254123/77326276-3d1f5280-6d22-11ea-8d84-1d86b8b1494c.png)

## Suggested fixes
  1. Add unknown fi

[2020-03-23 15:38] #73 closed

[2020-03-23 15:39] ksharpeypd commented on #53
If helpful, here's the westerncape hospitals attached in .csv

sourced from: http://snisnet.net/MFLDSS/MFLDSS.php?source=4&country=ZA&factype=0&owner=0&snu=521

[WC_Hospitals.csv.zip](https://github.com/dsfsi/covid19za/files/4370368/WC_Hospitals.csv.zip)

[2020-03-23 15:40] vukosim commented on #70
We currently Jupyter notebooks using python and the scraper and API are in GO. So for the moment that seems to be the two, we will keep using. Just a note that most of the work on the repo is on the data itself and making sure it's updated accurately. So more time is spent on validation than code.

[2020-03-23 15:46] ksharpeypd commented on #13
and apologies if you already have this, but there's quite detailed descriptions of each facility (down to the ward level? not sure about capacity) here on the NIDS site:
https://dd.dhmis.org/orgunits.html?file=NIDS%20Integrated&source=nids

[2020-03-23 16:20] AnrichVS commented on #56
I can confirm that the CORS header is now sent correctly. A simple test can be performed by serving the below HTML file using Python's SimpleHTTPServer for example:

_covid19za_56_test.html_
[code]

When navigating to http://localhost:8000/covid19za_56_test.html, the response received contains the `Access-Control-Allow-Origin: *` header, and the data is retrieved successfully.

[2020-03-24 07:07] cishiv commented on #54
Will look at this. Thanks @vukosim

[2020-03-24 08:05] vukosim commented on #69
Fixed.

[2020-03-24 08:05] #69 closed

[2020-03-24 08:15] #56 closed

[2020-03-24 10:12] Baadier-Sydow commented on #70
I think I'll look at the Go then. Could add more functionality or help with that backlog for the API.

[2020-03-24 10:16] vukosim commented on #70
We might need some automation when it comes to dealing with NICD and the
current lack of new data.

Also a csv to google sheets sync script would be useful. The dashboard
reads from a copy of the CSVs that are in a google sheet.

On Tue, 24 Mar 2020 at 12:13, Baadier Sydow <notifications@github.com>
wrote:

[2020-03-24 10:37] Baadier-Sydow commented on #70
I'm going to assume you'll want a solution in Go and not something I'm familiar in already like JS?

[2020-03-24 10:49] vukosim commented on #70
Use what you are comfortable and experienced in.

Vukosi

http://www.vima.co.za
http://www.twitter.com/vukosi

On Tue, 24 Mar 2020, 12:38 Baadier Sydow, <notifications@github.com> wrote:

[2020-03-24 11:23] Baadier-Sydow commented on #70
Sweet :) Do you have feature requests where I can get more details on whats required for the two you mentioned?

[2020-03-24 12:49] AngusRed commented on #31
FYI there is an issue with your numbers

[image: image.png]

Kind Regards

Charlie

■ ‘’Utrinque Paratus’’

On Thu, 19 Mar 2020 at 23:10, Shivan Moodley <notifications@github.com>
wrote:

[2020-03-24 13:27] cishiv commented on #54
@vukosim resolved https://github.com/dsfsi/covid19za/pull/79
nicd started including 'x' as a placeholder for years old, this broke the scraper.
I have also complied with https://en.wikipedia.org/wiki/ISO_3166-2:ZA in terms of provice naming
[code]

[2020-03-24 13:33] #54 closed

[2020-03-24 13:47] elolelo commented on #13
@MikeMcMalace Hey Mike, did you get a chance to check this out?

[2020-03-24 13:49] elolelo commented on #14
@vukosim Did you get a chance to fix the link in question? Is it now working?

[2020-03-24 13:52] vukosim commented on #14
Thanks @elolelo Yes fixed. Will close.

[2020-03-24 13:52] #14 closed

[2020-03-24 14:37] elolelo commented on #17
@anelda @devontighe @freever Hi all, are you winning  with getting more information about negative cases? Is there any source from where data about follow-up tests can be recieved? And which data viz are you going to use ? my assumption is that  this feature is still going to be implemented, or is it not?

[2020-03-24 14:42] elolelo commented on #70
Hi @Baadier-Sydow ,

Issue  #17  looks well detailed - once the current status on it is given maybe you can give it a  try

[2020-03-24 14:42] #70 closed

[2020-03-24 14:44] Baadier-Sydow commented on #70
Will do :)

[2020-03-24 14:52] elolelo commented on #18
@vukosim Are you looking for some help with converting the daily numbers from the NICD reports to  to a csv format? And also, do you have the airport scan data?

[2020-03-24 14:54] #65 closed

[2020-03-24 14:56] elolelo commented on #58
@vukosim Have you started with the investigation? Where are you (progress level) on this is issue?

[2020-03-24 15:01] vukosim commented on #58
At the moment it seems some error that was fixed on NICD side, but have not been able to figure out which patient has to be swaped between KZN and WC. So for the moment, we leave this error of 1 discrepancy @elolelo

[2020-03-24 15:03] vukosim commented on #18
Yes. That is the help. We have situational reports until 18 March. If someone can help with creating data out of them.

[2020-03-24 15:11] vukosim commented on #44
Thanks. Will likely create a folder to keep a list of those and screenshots.

[2020-03-24 15:56] #44 closed

[2020-03-24 16:02] elolelo commented on #57
@vukosim what do you think of this proposed feature?

[2020-03-24 16:44] elolelo commented on #55
@vukosim So ,  I took quick look at the files to compare the lists and  try to validate - here are some  differences that are easy to spot

1. Gender counts = The gov doc has 96 female whereas our confirmed list has 88 females and 5 not specified

2.Provinces  = KZN in the gov doc has 27 confirmed cases but we have 26 confirmed cases and the WC has 74 in the gov doc while we have its cases as 75
O

[2020-03-24 17:55] MikeMcMalace commented on #57
My two cents on the matter, if the data are available, sure - makes sense. However, I am concerned that the public might react negatively if they know a positive patient in their region, for example, is self-isolating. Therefore, if this does become a feature, then it should only include an ID, and the outcome, and should be in a separate list from the case data,  to protect all indicators of the

[2020-03-24 18:05] Shaz2472 commented on #57
Hi,

on sites like
https://www.worldometers.info/coronavirus/#countries
and
https://app.powerbi.com/view?r=eyJrIjoiMjcxNDIyNjAtOGM0Yi00ZWJhLWJkNmEtNjFiOTI0MWVlYjNiIiwidCI6IjI1NmNiNTA1LTAzOWYtNGZiMi04NWE2LWEzZTgzMzI4NTU3OCIsImMiOjh9

shows serious/critical cases.  I assume this is the ICU cases, currently standing on 2.
Besides no deaths, it also shows that only 2 of the current 550 are in ICU.   D

[2020-03-24 18:11] Shaz2472 commented on #57
List do not include City or Suburb, just an indication of the severity?

I am not from a clinical field, so I am not sure that is the correct term.
But If I understand flattening the curve correctly, it means slowing down the infection rate, to decrease the burden on hospital resources; and although we might not know the capacity, it sort of shows the faith in the system and that not all, or in fa

[2020-03-24 18:18] MikeMcMalace commented on #13
Yes. Unfortunately, there are some issues in the data (unless they updated it within the last day). The biggest problem is district information and bed capacity. Each district hospital (according to the South African DoH) is categorised as either small, medium or large. In addition to this, each district has its own capacity (or estimated capacity). The hospital data have been updated, and thank y

[2020-03-24 18:21] elolelo commented on #42
@mlsmith002  Can you be able to start by  with creating  a csv file  and populate it with headings:
case_id | recovery date (YYYYMMDD)| province | age | gender |
and values for all those that have recovered?
I am not sure which  reliable Source reports on this

[2020-03-24 18:27] elolelo commented on #50
@ntobekoMkhize how did it go with finding the source?

[2020-03-24 18:51] ntobekoMkhize commented on #50
@elolelo I didn't manage to find the source as yet.

[2020-03-24 18:53] elolelo commented on #41
@vukosim  and  @anelda  What are your thoughts on using the offered parked domain name?
Thanks @huntingphi for the offer

[2020-03-24 18:56] elolelo commented on #50
@ntobekoMkhize Ok , thanks for the update - I will open this again when we find the source.

[2020-03-24 18:56] #50 closed

[2020-03-24 19:12] #27 closed

[2020-03-24 19:15] elolelo commented on #33
@vukosim Have you considered what @brucellino commented on? What is the status?

[2020-03-24 19:21] elolelo commented on #26
@vukosim have you looked at the best way to present @mtswenij 's suggestion?
Hi @anelda did you  manage to find answers to the questions on the data? Are you still to share the data viz?

[2020-03-24 19:27] #38 closed

[2020-03-24 19:36] elolelo commented on #57
@MikeMcMalace I agree with your view on the potential public's reaction if details are given about the positive patient.
@Shaz2472 If you mean just a number showing this, it could be possible , I think.
What are your thoughts @vukosim ?

[2020-03-24 19:36] #57 closed

[2020-03-25 04:34] vukosim opened #80 "[Feature] Process Whatsapp Messages, compare to previous day and create CSV output"
**Is your feature request related to a problem? Please describe.**
Currently, we are only getting numbers from the NICD/DoH in terms of final numbers. One place we can get this data is their Whatsapp information service that then gives daily numbers after the update.

We need a solution to check 2 Whatsapp updates, calculate the difference and create the CSV.

The Whatsapp messages are now stored

[2020-03-25 04:34] vukosim commented on #80
Hey @cishiv you might be able to help with this one.

[2020-03-25 07:32] vukosim commented on #53
@elolelo Is it possible to get a flourish dashboard done with the updated hospital data?

[2020-03-25 08:32] Shaz2472 commented on #57
@elolelo Yes, just a number.  I am not in favour of pinpointing cases, that could lead to negative reaction from some of the public.  Aslo in favour of protecting the privacy of patients; but just to give general picture of confirmed cases, but then also get a picture of active cases and how serious the active cases are, meaning ICU vs other.
Thank you.

[2020-03-25 08:54] vukosim commented on #55
I will take a look tonight. We need a few people to validate so might slow down for the next 24 to 48 hours so that we can validate. We are unfortunately not getting data from NICD statements anymore.

[2020-03-25 09:39] elolelo commented on #53
@vukosim Yes, its possible and I have some time to work on it with others.

[2020-03-25 10:48] elolelo commented on #42
@mlsmith002 This issue seems to be addressed in #57

[2020-03-25 10:48] #42 closed

[2020-03-25 11:54] anelda commented on #41
@elolelo don't think it's my decision to make :-)

[2020-03-25 11:55] elolelo commented on #31
@AngusRed Hi Charlie, what is the issue with numbers?

[2020-03-25 11:56] elolelo commented on #31
@cishiv Hi Shivan, did you get a chance to look at this?

[2020-03-25 11:56] AngusRed commented on #31
Its fine now, thanks! Keep up the good work!

On Wed, 25 Mar 2020 at 13:55, Nompumelelo <notifications@github.com> wrote:

--

Kind Regards

Charlie

Charles Hein Wroth | Security Consultant

M RSA:  +27 79 575 389 9

E: charles.h.wroth@gmail.com <chwroth.ts@hotmail.co.uk> |
W:http://za.linkedin.com/in/chwroth/

SKYPE: hein.wroth

■ ‘’Utrinque Paratus’’

[2020-03-25 11:57] anelda commented on #26
@elolelo thanks for bringing this up again. My opinion is that we simply don't have enough information about negative cases to say more than that there were X number of negative cases based on the positive tests vs number of tests. It can be people who were cured, or people with false negatives who may or may not have tested positive later. Can't think that there's currently justification for nega

[2020-03-25 12:05] elolelo commented on #29
@DataDroidKay It would be interesting but right now we are still looking for help with validating the data that we already have with the data that is reported by the DoH. Now I will keep note of  this  idea and  reopen it when validation is done.

[2020-03-25 12:05] #29 closed

[2020-03-25 12:08] anelda commented on #17
@elolelo just not sure that there's a lot of value in plotting this right now. Not until we have more information about the tests e.g. same person being tested several times, etc. I guess we may not be able to get that kind of information so maybe okay to close this? What do you think @freever @devontighe @vukosim? We can always revisit when more information is available?

[2020-03-25 12:30] freever commented on #17
I dunno, this is not really my field, but I had a look at the data and generated this graph to answer a question I have about whether the recent spike in cases has been caused by a rapid increase in the number of tests conducted. Spoiler: no, it hasn't. I think there is value in tracking this graph over time:

![cases and tests](https://user-images.githubusercontent.com/2269624/77536501-150c2c80-6

[2020-03-25 13:47] elolelo commented on #26
@anelda Thanks, your opinion is telling enough to close this for now and we can reopen it later when we have enough info.

[2020-03-25 13:47] #26 closed

[2020-03-25 15:01] riazarbi opened #82 "[DATA] Explain discrepancy between repo data and dashboard data"
## Which Dataset

Confirmed cases timeline; provincial cumulative timeline

## Error Description

I would expect the latest number of confirmed cases on the dashboard to be the same as the latest number in [provincial cases](https://github.com/dsfsi/covid19za/blob/master/data/covid19za_provincial_cumulative_timeline_confirmed.csv) or [timeline confirmed](https://github.com/dsfsi/covid19za/blob/mas

[2020-03-25 18:10] tomjuggler commented on #82
In addition the coronamap.co.za site also seems to have a different data source, despite it's [source code](https://github.com/JayWelsh/coronamap) clearly pointing to the [timeline confirmed](https://github.com/dsfsi/covid19za/blob/master/data/covid19za_timeline_confirmed.csv) data. I am a little confused, perhaps a change is in the works?

[2020-03-25 19:27] Shannanigans opened #83 "[DATA] Recovered cases CSV data"
**Is your feature request related to a problem? Please describe.**
First off thank you for all the great work you guys have been doing. Currently recovered cases are not represent in the csv files. Do you plan to record this information? Assuming you do do you think it will be possible to map the recovered case to the `covid19za_timeline_confirmed.csv` case_id? In other words will we be able to de

[2020-03-25 19:33] Shannanigans opened #84 "[Feature] Extend the api to return case fatality and recovered case data"
**Is your feature request related to a problem? Please describe.**
Once recovered and case fatality data is available the api should be updated to allow for this data to be retrieved.

Dependent on #83

[2020-03-25 19:37] Shannanigans opened #85 "[Feature] Extend api to expose test timeline data"
**Describe the solution you'd like**
Add an endpoint to the api that exposes testing timeline data.

[2020-03-26 04:45] cishiv commented on #31
@elolelo I didn't actually. Feel free to pick it up. Work is keeping me rather busy

[2020-03-26 04:48] cishiv commented on #80
Sure. If no one else gets to it before me, I'll take a took @vukosim

[2020-03-26 04:51] cishiv commented on #80
Will probably only be during the weekend though.

[2020-03-26 06:22] vukosim commented on #80
NO problem @cishiv. lets get it right.

[2020-03-26 11:40] AngusRed commented on #31
Just FYI,

I am working with a strong community of Security Researchers, engineers and
general white hat hackers. If there is ANYTHING we can do to help, support
or secure anything, please give us a shout.

We have set up a discord called Hack South. All people in security or just
interested/curious come join us. https://discord.gg/JSYCGb

Stronger Together!

Kind Regards

Charlie

Charles Hein Wr

[2020-03-26 13:41] vukosim commented on #83
@Shannanigans it will be available later today.

[2020-03-26 14:16] vukosim commented on #83
Available here https://github.com/dsfsi/covid19za/blob/master/data/covid19za_timeline_testing.csv

[2020-03-26 14:16] #83 closed

[2020-03-26 17:09] Shannanigans commented on #83
Thank you

[2020-03-26 19:33] vukosim commented on #19
Given todays announcement by Western cape government, can we start collecting stats on Western cape @riazarbi?

[2020-03-26 22:01] Baadier-Sydow commented on #65
Just a heads that I've made the change and it will go in with the next build.

[2020-03-27 05:35] anelda opened #88 "[Feature] Show change in numbers in boxes at top"
**Is your feature request related to a problem? Please describe.**
The dashboard may be more informative if one can quickly see the daily change in numbers of infected, recovered, tests, etc with one glance without having to look at the plots.

**Describe the solution you'd like**
Show the change since the previous day in the blocks at the top of the dashboard

**Describe alternatives you've consi

[2020-03-27 10:58] riazarbi commented on #19
I don't think a pattern of sharing municipal-level data has been established - I think that was a once-off thing. I don't think I'll be able to be a source of data for this as internal govt researchers are probably going to be prohibited from sharing anything (which is good).

But, my impression is that the data exists at this level of granularity - so it's a question of getting NICD to release th

[2020-03-27 12:16] anelda opened #89 "[Feature] Use dashboard to curb anxiety as case and casualty # grow"
**Is your feature request related to a problem? Please describe.**
The dashboard is doing a really good job of providing a visual overview of the underlying data, but I am concerned that there is a lot of emphasis on how things are escalating (which is the honest truth and important to see).

I think people might increasingly be looking at the data for signs that lockdown and other measures are wo

[2020-03-27 12:37] vukosim commented on #89
Hey. Yes, will think about a couple of ways we can get this right.

[2020-03-27 12:44] anelda commented on #89
Thanks! I'd be very happy to help brainstorm about how to do this or get data that can be added to annotate graphs. By no means my field of expertise, but let me know if I can help.

[2020-03-27 13:56] AngusRed commented on #31
Sorry folks,

Are these numbers meant to match or not? The positive case numbers vs the
provincial breakdown combined?

[image: image.png]

Kind Regards

Charlie

Charles Hein Wroth | Security Consultant

M RSA:  +27 79 575 389 9

E: charles.h.wroth@gmail.com <chwroth.ts@hotmail.co.uk> |
W:http://za.linkedin.com/in/chwroth/

SKYPE: hein.wroth

■ ‘’Utrinque Paratus’’

On Thu, 26 Mar 2020 at 13:40,

[2020-03-27 13:58] anelda commented on #89
Useful post on the topic - more for mapping - https://www.esri.com/arcgis-blog/products/product/mapping/mapping-coronavirus-responsibly/

[2020-03-27 16:30] vukosim commented on #89
I think we can remove the table on the first page and move it to 2nd page and use that real estate to look and empowering people locally. So maybe notes on flattening the curvy through staying at home etc.

[2020-03-28 15:34] huntingphi commented on #41
No prob, just @me if you guys are settled on using it

[2020-03-29 05:56] Vutlhari commented on #85
I will pick this up

[2020-03-29 06:00] vukosim commented on #85
Thanks. Please also see the new columns in the different data especially testing and provincial csvs

[2020-03-29 08:05] Vutlhari commented on #85
@Shannanigans the endpoint is now available [(https://covid-za-api.herokuapp.com/cases/timeline/tests)](https://covid-za-api.herokuapp.com/cases/timeline/tests)

cc @vukosim

[2020-03-29 09:33] mariaschuld commented on #82
I assume that the dashboard is now tracking the[ provincial file](https://github.com/dsfsi/covid19za/blob/master/data/covid19za_provincial_cumulative_timeline_confirmed.csv). Maybe this can explain the discrepancy?

[2020-03-29 10:12] vukosim commented on #82
Yes that is true @mariaschuld. We cannot at the moment reliably infer new cases given the data from NICD, we are investigating ways to get better data from them @tomjuggler

[2020-03-29 10:17] mariaschuld commented on #82
Cool, I hope NICD's data strategy will be fixed soon. Let me know if there is anything I can do @vukosim - also in terms of programming support.

[2020-03-29 15:33] vukosim opened #103 "[Feature] Western Cape Breakdown"
We can now start attempting to infer western cape district breakdowns. See statements by premier here https://www.westerncape.gov.za/department-of-health/news

[2020-03-29 15:37] vukosim commented on #103
Example breakdown for 28 03 2020

![image](https://user-images.githubusercontent.com/836223/77853339-f202b500-71e3-11ea-9896-d95cd1029f93.png)

[2020-03-29 16:31] nikrich commented on #103
I amazing! Probably need to group these correctly otherwise the data folder is going to become a mess. I'll submit a PR with proposed structure

[2020-03-29 16:31] nikrich commented on #103
PR as referred to above: https://github.com/dsfsi/covid19za/pull/104

[2020-03-30 04:59] johndoev2 opened #107 "New cases per day"
Add graph showing how many new cases there are each day. The actual value instead of me subtracting the values of the main graph.

[2020-03-30 05:39] tomjuggler commented on #82
Thanks @mariaschuld @vukosim that's great I can just use the provincial data. Maybe the readme needs to reflect this? I was wondering how long the details would be possible to maintain once the numbers went up.

Working on an Android app, will share when done.

[2020-03-30 14:33] vukosim commented on #88
Working on it.

[2020-03-30 14:34] vukosim opened #108 "[Feature] CSV to google sheet sync tool"
We run the dashboard on top of google sheets and now are in need of a way to automate a csv to google sheet sync. Assume that the google sheets have the same name as the csv files.

[2020-03-30 14:35] anelda commented on #88
Thanks @vukosim :+1:

[2020-03-30 14:37] anelda commented on #108
It's possible in R... https://googlesheets4.tidyverse.org/

[2020-03-30 17:44] anelda commented on #108
I can write something if it is okay that it is written in R. Do you need it to pull the sheet down or only push the csv to the sheet and overwrite the data that was there previously?

[2020-03-30 18:14] vukosim commented on #108
Overwrite is fine.

[2020-03-30 19:01] riazarbi commented on #108
Y'all are overthinking this.

`=importData("https://raw.githubusercontent.com/dsfsi/covid19za/master/data/covid19za_provincial_cumulative_timeline_confirmed.csv")`

Apparently the importData function lasts for 1 hour, giving you free refreshes, but if it doesn't we can write a script trigger in google sheets.

[2020-03-30 19:33] anelda commented on #108
If I understand correctly, the scraper will create a CSV file which is available from the github repo. We need a way to update the Google Sheet from the CSV in the Github repo. @riazarbi if you have a simple solution, please create a pull request or discuss further with @vukosim. I think at this stage they will prefer simple, robust methods to ensure clear data provenance so you might very well ha

[2020-03-30 19:35] anelda commented on #108
Oh @riazarbi I remember now, one can simply put your function in the first cell of the target Google Sheet to import the table at the source CSV. Haven't used that in ages. Yes, may work!

[2020-03-31 06:13] riazarbi commented on #108
Yep, just pop that function in a google sheet cell. Let me know if you have trouble.

[2020-03-31 06:35] vukosim commented on #108
Thanks guys. Worked, just need to get a script going to pull every hour or so.

[2020-03-31 07:13] mlsmith002 opened #110 "[Feature] Show the Deltas in positive cases as a chart on the dashboard"
**Is your feature request related to a problem? Please describe.**
The dashboard may be more informative if one can see the number of new infections on a daily basis.

**Describe the solution you'd like**
have a column chart that shows the 'curve' of the new infections over time. If possible it would be good to add a curve as to what the new infections per day would have looked like if preventativ

[2020-03-31 07:40] riazarbi commented on #108
Just double check it doesn’t do it every hour automatically.  It should.
More frequent will require a script.

On Tue, 31 Mar 2020 at 08:35, Vukosi <notifications@github.com> wrote:

[2020-03-31 08:22] rendanim opened #111 "[Feature] Track cumulative number of tests results for each day"
Is it possible to display the time series of the cumulative of test results on each day. This will contextualise the positives cases. For example if they are slowing down because the number of test are also slowing down i.e backlog?

The graph can look just like the confirmed cases graph. Just for one to see if the decrease is due to the decrease in test results..per day.

[2020-03-31 08:55] vukosim commented on #111
Hey @rendanim we have been working on that, just updated the front page.

[2020-03-31 09:11] rendanim commented on #111
Fantastic! Thanks.

[2020-03-31 09:11] #111 closed

[2020-03-31 10:41] anelda commented on #108
@vukosim I experimented with Google scripts to automate, but there were a few things that felt a bit like a black box. I've updated the R script so that you can run it from the commandline as cron job. It's at https://github.com/anelda/covid19za_misc/blob/master/syncGoogleCovidza.R.

It includes instructions for getting auth from R for Google Sheets (see comments in script). I can add it to this r

[2020-03-31 10:53] TeeZA42 opened #112 "[DATA]"
## Which Dataset
covid19za_provincial_cumulative_timeline_confirmed.csv

## Error Description
Date for 2020/03/30 incorrect 2022/03/30

## Suggested fixes
  1. change to 2020/03/30

[2020-03-31 11:00] #112 closed

[2020-03-31 11:00] vukosim commented on #107
Done.

[2020-03-31 11:00] #107 closed

[2020-03-31 19:35] MikeMcMalace opened #115 "[DATA] Help needed for Hospital Data"
## Which Dataset

health_system_za_public_hospitals.csv

## Error Description
District and subdistrict data needed
Estimated population size needed for each district

## Suggested fixes
  1. Populating the data for the proposed file.
  2. Creating an accurate dataset that is already in a computer-readable format, and not in a PDF etc.
 3. Finding an updated Private and public Hospital repo for eac

[2020-04-01 07:03] #110 closed

[2020-04-01 07:04] mlsmith002 commented on #110
Update made

[2020-04-01 09:27] vukosim commented on #108
Thanks guys, closing this. The importData is working great.

[2020-04-01 09:27] #108 closed

[2020-04-01 11:02] anelda commented on #115
@MikeMcMalace the humanitarian data exchange has pop size at various admin levels for SA - https://data.humdata.org/dataset/south-africa-administrative-levels-0-3-population-statistics. It was last updated in 2018 according to metadata.

I'd be interested to help with this. Also involved in https://afrimapr.github.io/afrimapr.website/blog/2020/healthsites-app/ and we've just started to work with h

[2020-04-01 11:40] elolelo commented on #115
@anelda  we are currently working on a map visualization  that is a bit similar to the one shown in your last link. For now ,most helped needed is on the data  -  populating the columns with

- Number of beds per identified hospital
- Number of staff members per hospital
- Geolocation of Covid19 testing centers
- Webpages of hospitals
- And just about any other incomplete info on the hospital data

[2020-04-01 12:19] anelda commented on #115
Three questions:

1. Do you have a way to prevent different people working on the same thing for this? e.g. I can get webpages for hospitals but it would be tragic if others are working on this at the same time, duplicating effort.

2. What is the relationship between health_system_za_public_hospitals_extended_details.csv vs health_system_za_public_hospitals_contacts.csv vs health_system_za_public

[2020-04-01 12:29] MikeMcMalace commented on #115
Thank you so much for your inputs, @anelda .

1) I propose that we volunteer on this issue so that there isn't overlap. Alternatively, we can create a google doc and people can volunteer from there? - which would you think would work best?

2) Yes, they can. From the start, we needed details and information, and as time continued, the datasets expanded. We have a hospital dictionary, and I can ima

[2020-04-01 12:35] anelda commented on #115
For hospital beds, there is this study:

Maybe they can share the data they collected - here is how they did it (a *lot* of work have gone into collecting/verifying the data)

[2020-04-01 12:40] MikeMcMalace commented on #115
Brilliant, brilliant study - and this is the data we need. It is a shame that this is 2017, but, it does have the data we require. Thank you for your insight @anelda. I do not personally know the authors, but I do know the department. Would you mind making contact?

[2020-04-01 12:42] MikeMcMalace commented on #115
@elolelo , what is your idea of the websites? I am trying to find the geo-locations of the testing centres but I am picking up something that exponentially might complicate things, that labs/pathologists might be referring samples. This means that we need to track down core testing facilities. I can ask for this.

[2020-04-01 12:46] anelda commented on #115
1. Let's start a Google Doc - great suggestion. This thread may become quite long and people might miss stuff if they have to read through everything. I can do it and share unless you have a covid19 Google Folder already where you want to keep things together?

2. Which one is the library file? I can do a compare and merge on the files unless either of you have a script ready to do that? I'll prob

[2020-04-01 12:47] anelda commented on #115
I'll email them.

[2020-04-01 13:00] MikeMcMalace commented on #115
@elolelo @anelda  the link to the doc is below.

https://docs.google.com/spreadsheets/d/1ujiuSd656BfIO3AT86GTr17oveaev-qBuYbu_v45RC4/edit?usp=sharing

Choose an item, then update accordingly.

There are five hospital files:
- health_system_za_hospital_id (which contains the ID and hospital name as they appear in the other four files)
- health_system_za_private_hospitals
- health_system_za_public_h

[2020-04-01 14:13] anelda commented on #115
Great news! Angela responded within 25 minutes to my email. She shared her thesis in PDF (also available from http://hdl.handle.net/11427/22796) and is busy looking through her spreadsheets  to find the most recent one. She'll share that as soon as she's found it.

**We have to make sure people who share their hard collected open datasets receive due credit!**

[2020-04-01 14:51] MikeMcMalace commented on #115
@anelda I echo your request and acknowledge your statement.  Thank you.

[2020-04-01 14:56] anelda commented on #115
I'll create an issue about this. It's important for data provenance as well

[2020-04-01 15:03] anelda opened #117 "[Feature]Data provenance and giving due credit for datasets"
**Is your feature request related to a problem? Please describe.**
We are collecting data from a wide variety of sources and also data that is available under a variety of licenses (or without licenses)

**Describe the solution you'd like**
Figure out a way to keep track of data sources and a way to ensure proper credit is given to people/organisations who have collected the data and are willing t

[2020-04-01 15:03] anelda commented on #115
See #117

[2020-04-01 16:30] vukosim commented on #117
The data/README.md has all the info on all sources of the data. Can we enhance that?

[2020-04-01 16:30] vukosim commented on #117
The data/README.md has all the info on all sources of the data. Can we enhance that?

[2020-04-02 05:31] anelda commented on #115
@MikeMcMalace good morning! I can't access this file? Can you help please?

[2020-04-02 05:40] MikeMcMalace commented on #115
Please try link @anelda @elolelo

[2020-04-02 05:40] MikeMcMalace commented on #115
@anelda @elolelo Good morning!

[2020-04-02 06:30] anelda commented on #115
Thanks. It's view only mode though?

[2020-04-02 06:37] Steven-MKN opened #120 "[BUG] '/cases/confirmed' endpoint response is limited"
**Describe the bug**
When making a get request to the **/cases/confirmed** endpoint the data is limited only until the 25th of march 2020.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://covid-za-api.herokuapp.com/cases/confirmed either with a script or browser.
2. Notice the data is represents data only until the 25th of march 2020

**Expected behavior**
I expect to be able to

[2020-04-02 06:52] anelda commented on #117
I suggest that we make it mandatory for all CSV files to have the following columns:

- last_updated_day (not the csv file but the actual source data - may not be available)
- last_updated_month (not the csv file but the actual source data - may not be available)
- last_updated_year (not the csv file but the actual source data - may not be available - but effort to get good guesstimate)
- source (

[2020-04-02 07:01] elolelo commented on #115
@anelda @MikeMcMalace Good morning, @anelda ,  in this #117 issue, do you suggest that @MikeMcMalace should create another sheet to add the details about sources of data ?

[2020-04-02 07:14] anelda commented on #115
Good morning @elolelo. Hmmm... I wonder if it may be worth our while to have a quick online meeting to chat about the data and where we want to go with it? I received hospital bed data from Angela this morning and am busy cleaning it up. What do you think @MikeMcMalace

[2020-04-02 07:42] nikrich commented on #103
I think we can close this issue @vukosim

[2020-04-02 08:12] elolelo commented on #115
@anelda - I think the meeting may be worth our while. I should be available from 11 am and onwards today .
Wow!! sounds like you've recieved  valueable data - I just saw now that 87 000 beds in the public sector are available for Covid19 patients - I wondered where (in which hospitals) are those beds - so hopefully your data could answer this question.

[2020-04-02 08:21] anelda commented on #115
If you send me your email addresses and times when you're available, I can set up a meeting in Zoom or Hangouts. Don't want to share meeting link here as there's been problems with trolls crashing open online meetings. anelda@talarify.co.za. Thanks!

[2020-04-02 08:30] MikeMcMalace commented on #115
Love the idea of a meeting! Yes. Currently, I see a gap at 12:00? Would that suffice?

Can we invite @vukosim  to this meeting, please?

[2020-04-02 08:38] anelda commented on #115
Okay, I created a Doodle poll for today to see who can attend and when. Anyone who'd like to join can complete the poll. I'll need people to send me an email address where I can share the meeting link. Thanks! https://doodle.com/poll/498wfb79wwfiuuev

[2020-04-02 13:53] MikeMcMalace commented on #115
Is it working?

Thank you for the meeting, and insight. :)

[2020-04-02 15:45] elolelo commented on #115
@MikeMcMalace Thanks, it's now working. The e-meet was indeed insightful!

[2020-04-02 15:55] ahmadalauddin opened #122 "[Feature] provincial_cumulative_timeline_confirmed"
Can you please add the API endpoint to provide the provincial cumulative timeline confirmed data, just like the data you are showing in the csv file but in JSON format?

Thanks in advance!

[2020-04-02 16:44] omicron-c opened #123 "[Feature] Distinguish recoveries vs new positive cases on the "Daily Positive Cases" chart"
At the moment, the label "Daily Change in Positive Cases" appears misleading. Change can happen in both additive and subtractive fashions. I believe you are including positive delta movements (new cases), and not negative (Recoveries) movements in this chart.

This is a guess I am making by looking at your March 27th figure of 243 new cases (As the Gov press release notes), when if it were inclusi

[2020-04-02 19:24] Vutlhari commented on #122
I will pick this up

[2020-04-02 19:29] Vutlhari commented on #120
The API pulls the data from the CSV files. With that said;

Since around 24 March, we have not gotten individual case data from DoH or NICD. For now if you need provincial counts use the provincial_cumulative_timeline. For indivividual cases up to 25 March, use the confirmed_cases.

There is an issue opened to expose the provincial_cumulative_timeline.

[2020-04-02 21:21] webdevan commented on #103
I've created a PR. Please will someone have a look?

I've also got JSON polygons for each of these districts and sub-districts. If that's useful I can create a new issue for it?

[2020-04-03 02:24] anelda commented on #115
Hi everyone, thanks so much for the meeting yesterday. I'm happy to report that Angela added her hospital bed info to Figshare so there is a proper citation for it now and it's also officially licensed as CC-BY - https://figshare.com/articles/SURGICAL_RESOURCES_latestmarch2016_xlsx/12066711. I'll share the cleaned data here later today.

[2020-04-03 05:07] vukosim commented on #103
@webdevan where do the polygons come from?

[2020-04-03 10:09] anelda commented on #115
Good morning everyone. The clean data from Angela Dell's thesis (hospital beds and number of surgeons for public and private hosps - _last updated March 2016 for 543 hospitals_) is now available at https://figshare.com/articles/South_African_Hospital_Beds/12073596.  There is also a readme to describe how I went from the raw data to the resulting CSV. I'm trying to do things in a way that we can tr

[2020-04-03 10:47] vukosim opened #127 "[Feature] Looking for R programmer to look at some disease modelling code and also make it more efficient"
If you can assist with this, please email me vukosi.marivate@cs.up.ac.za

[2020-04-03 11:08] vukosim commented on #18
Closing as this is no longer relevant.

[2020-04-03 11:08] #18 closed

[2020-04-03 11:08] #85 closed

[2020-04-03 11:09] #82 closed

[2020-04-03 11:09] vukosim commented on #84
@Vutlhari  please see

[2020-04-03 11:11] Steven-MKN commented on #120
Thanks Bro. Just one more thing. Along with "/cases/timeline/tests" can we get a it to show cumulative positive cases?

[2020-04-03 11:12] #120 closed

[2020-04-03 11:35] elolelo commented on #115
@MikeMcMalace I didn't see this earlier, my apologies. So, if it might complicate things - maybe let's leave the testing centers out for now and just work with the recent contributions. What do you think?

[2020-04-03 11:37] Vutlhari commented on #120
I will have to check if that data is available in any of the csv files

[2020-04-03 11:38] elolelo commented on #115
Hi @anelda  Thanks a lot! This data might be relatively old but there is no doubt that it's useful and so is the readme file. Will update you on the viz when it's ready.Thanks once again

[2020-04-03 11:42] vukosim opened #128 "[Feature] Mapping data for food security"
We are looking for data to be able to evaluate South African food security [places to buy food during the lockdown] so would like to get  a

csv or geojson

of available places to get food, what kind of establishment, district sizes and likely security indicators.

cc @nmoorosi

[2020-04-03 12:16] vukosim commented on #120
@Vutlhari the final column in the province data is the total

[2020-04-03 13:18] #127 closed

[2020-04-03 14:33] elolelo commented on #13
This is being addressed in #115

[2020-04-03 14:33] #13 closed

[2020-04-03 15:06] elolelo commented on #53
@ksharpeypd  Thanks for the data , see #117 on how to give more detailed credit for it.  If you have  more data  on hospitals  for contributions -  please see this #115 . For now, we will review what you have shared with what @MikeMcMalace @altadewaal @vukosim  and others have shared. Thanks!

@lainglo ,Thanks for those links, I have just looked at them and I second @MikeMcMalace with the incomple

[2020-04-03 15:06] #53 closed

[2020-04-03 18:06] webdevan commented on #103
@vukosim the polygons are from:
http://www.demarcation.org.za/site/shapefiles/

I've done some work to simplify them (to reduce file size) and mapped them to districts. I am working on Western Cape "heat map" side project which I hope to launch this weekend and I'll share the code/data/info.

The Western Cape numbers come from:
https://www.westerncape.gov.za/department-of-health/news

[2020-04-04 07:23] MikeMcMalace opened #135 "[DATA]"

[2020-04-04 07:36] MikeMcMalace opened #136 "[Feature]"

[2020-04-04 07:43] MikeMcMalace opened #137 "[Feature]"

[2020-04-04 07:53] #135 closed

[2020-04-04 07:53] #136 closed

[2020-04-04 07:53] #137 closed

[2020-04-04 08:20] MikeMcMalace opened #138 "[Feature] Looking for R programmer/Python Programmer with some experience with image ORC like Google tessaract"
if you can assist with this, please email combrinkhm@ufs.ac.za and vukosi.marivate@cs.up.ac.za

[2020-04-04 08:22] MikeMcMalace opened #139 "[Feature] Looking for R programmer/Python programmer to do PDF extraction from aligned images"
If you can assist, please email combrinkhm@ufs.ac.za and vukosi.marivate@cs.up.ac.za

[2020-04-04 08:44] Vutlhari commented on #122
@ahmadalauddin this endpoint is now available. Please test and confirm.

Endpoint: https://covid-za-api.herokuapp.com/cases/timeline/provincial/cumulative

[2020-04-04 13:00] ahmadalauddin commented on #122
Thank you very much. I really appreciate your help in this regard. I have tested it and it is returning the results just fine, however there is an issue with the no of unknowns. The unknowns are returning the same number as Western Cape. Can you please look into it?

[2020-04-04 13:11] Vutlhari commented on #122
Sure, will take a look :)

[2020-04-05 00:56] anelda commented on #115
Hi everyone, I've been thinking a lot about the question of reproducibility in terms of putting the open hospital dataset together. Here is an attempt in R to look at various datasets that are available and tidy them up in order to be able to compare and/or combine programmatically - https://htmlpreview.github.io/?https://github.com/anelda/za_open_hospital_data/blob/master/reports/za_hospital_anal

[2020-04-05 10:19] karthik111 commented on #138
Can you provide more details of what data you need extracted from the PDF and a sample of the PDF?

[2020-04-05 16:50] webdevan commented on #103
@vukosim, I came up with this csv for districts and it can allow for more regions to be added later.
https://github.com/webdevan/covid-map/blob/master/data/infections_timeline_za.csv

I thought it would be easier to capture numbers in one file, but if it makes sense I could remove the provinces because they don't need to exist in two places.

Does the structure I used in my repo work for this proj

[2020-04-05 17:01] webdevan commented on #117
A CSV could contain data from multiple sources and it might get messy to add in metadata with actual data. What about a separate text file in the same directory as the CSV file, eg a README.md or LICENSE.md or something along those lines. The text file can contain all the attribution and background info that is relevant to the datasets?

[2020-04-05 17:06] webdevan commented on #19
Hey @riazarbi I think a pattern has been established now. It's been daily (almost), and I've done some work to understand a potential data structure, see https://github.com/dsfsi/covid19za/issues/103#issuecomment-609446640

[2020-04-05 18:39] MikeMcMalace commented on #115
@elolelo , please see @anelda comment above.

Firstly, @anelda , just by virtue of proactively scripting cleanup for standardisation and reproducibility, is great. I do understand statistically why you would propose and started coding fuzzy logic, and although I primarily code in python now, I love the Tidyverse packages in R and this is an essential toolkit to use.

Thank you for putting notes in

[2020-04-06 04:56] vukosim commented on #103
For the moment would keep the csv as is. We can create a script to read from yours and create a pull request with additions on the district csv here

The GegJSOn would be appreciated.

[2020-04-06 06:26] vukosim commented on #115
Thanks all. Can we move to have a version 1 of the combined data this week?

[2020-04-06 06:44] elolelo commented on #115
@vukosim I have started with combining data that  @MikeMcMalace and I worked on before @anelda 's contribution  with the data from @anelda  and at the same time looking at the pdf doc you shared.I will still need to look at other recent contributions made. I was wondering if it's worth creating a wiki describing and referencing the data collected and cleaning process  as issue #117 suggests , amon

[2020-04-06 06:56] elolelo commented on #115
Maybe the wiki's might not be an option after all. I will just update the relevant readme

[2020-04-06 07:06] anelda commented on #115
Good morning everyone, maybe there couould be a master readme file in the
data repo with additional readme files in the same repo - one readme for
each of the datasets.

Maybe also an idea to create subfolders fro hospital data, case data, and
other data that may be collected here? That may break scripts from people
who are using the csv case data via direct  link to the raw data though.

On Mon,

[2020-04-06 07:53] anelda commented on #115
@elolelo @MikeMcMalace have you seen this https://www.who.int/healthinfo/MFL_Resource_Package_Jan2018.pdf?ua=1. Seems like it may be very valuable to scan through it to get ideas about making the dataset compatible with WHO standards/expectations from the outset?

[2020-04-06 07:58] anelda commented on #117
Hi @webdevan! Great point. I was working on the hospital data this weekend and realised my suggestion will not work exactly because of the things you mentioned. And THANKS for reminding us of metadata... We should/could create machine-readible metadata schema files for each of the CSV files as well to describe the columns. And here we can add some information about sources as well?

Here is an exa

[2020-04-06 08:42] anelda commented on #128
Maybe reach out to https://foodsecurity.ac.za/?

[2020-04-06 09:58] Vutlhari commented on #122
@ahmadalauddin the issue with unknowns returning the same number as Western Cape should be fixed now. Thanks for picking this up :)

[2020-04-06 15:10] vukosim opened #145 "[Feature] Limpopo District Data"
See this
![image](https://user-images.githubusercontent.com/836223/78573859-8050e980-7829-11ea-8be9-92d973b91ee3.png)

We need to now create a CSV file for the Limpopo data. Currently tracing that we can get this on the regular.

[2020-04-06 15:39] vukosim opened #146 "[Feature] Northwest District Data"
See

http://health.nwpg.gov.za/index.php/latest-developments/media-centre/covid-2019/659-covid-19-cases2.html

![image](https://user-images.githubusercontent.com/836223/78576586-281be680-782d-11ea-87cb-bf15659418f5.png)

[2020-04-06 15:41] vukosim opened #147 "[Feature] Mpumalanga District Data"
See example

![image](https://user-images.githubusercontent.com/836223/78577022-c019d000-782d-11ea-801e-35adf66c0edb.png)

[2020-04-06 15:44] vukosim opened #148 "[Feature] Extract Historical District Data for Provinces"
Make csvs with history for each of the districts and subdistricts for ever provinces
See issues

* #147
* #146
* #145

[2020-04-06 15:54] vukosim commented on #128
Thank you @anelda waiting for a response from them.

[2020-04-06 16:28] #117 closed

[2020-04-06 16:28] #122 closed

[2020-04-06 22:25] AngusRed commented on #31
Hey,

Me again. Are you aware that they UI has issues? Its like super zoomed in,
and even though I zoom out it resizes?

On Fri, 27 Mar 2020 at 15:55, Charles H Wroth <charles.h.wroth@gmail.com>
wrote:

[2020-04-07 04:14] vukosim commented on #31
Fixed

[2020-04-07 08:16] anelda commented on #115
@elolelo @MikeMcMalace I remember someone mentioned MedPages in our meeting. Did anyone contact them to ask if we could access their data to supplement the data we have?

[2020-04-07 08:40] elolelo commented on #115
@anelda I have not contacted them recently for this Covid-19 work but I did make contact earlier this year (for another project) and they gave me a quote of how much I'd have to pay to get access to the type of data that I needed (the data was simply the geo coordinates of private hospitals)

[2020-04-07 08:51] anelda commented on #115
Thanks @elolelo! Do you know if one is allowed to share the data if one do indeed pay for the access? I would expect that they will have restrictions on how the data can be used?

[2020-04-07 09:00] elolelo commented on #115
@anelda I don't know for sure, their pricing was soo unattractrive to me such that I didn't even bother asking any further questions. It's likely that they have restrictions, but one would need to ask to be sure.

[2020-04-07 11:04] vukosim commented on #145
First version is up in district folder. Need to code subdistricts.

[2020-04-07 11:13] #88 closed

[2020-04-07 11:13] #84 closed

[2020-04-07 11:25] HoosainEssop commented on #139
Could you please provide a sample PDF?

[2020-04-07 12:41] ahmadalauddin commented on #122
Thank you so much. I have tested the API and it is working perfectly. Thanks a lot again!!

[2020-04-07 13:27] SefaraTJ commented on #145
Was this picture on twitter of FB? Posted by who?

[2020-04-07 13:42] vukosim commented on #145
https://www.facebook.com/LimpopoDepartmentOfHealthBophelong/

https://www.facebook.com/photo?fbid=2484848634949084&set=a.442368809197087

[2020-04-07 19:33] AngusRed commented on #31
Awesome,

Found something else!

Page 2, spelling error  *All Provinces - Positice Cases*

KEEP UP THE GOOD WORK FRIENDS!

@angusredblue

Kind Regards

Charlie

On Tue, 7 Apr 2020 at 06:15, Vukosi <notifications@github.com> wrote:

[2020-04-07 19:57] webdevan commented on #103
@vukosim please grab the .json files (and anything else you like) from here: https://github.com/webdevan/covid-map/blob/master/data/

I'm not sure where they should go and have limited free time so it's best if you can do it.

I'll probably ditch the timeline csv in my repo and just pull the covid19za ones instead.

[2020-04-07 20:43] vukosim commented on #103
Thank you. Yeah, also battling with thin time. Will look who I can ask to assist. @webdevan Thank you.

[2020-04-08 08:22] SefaraTJ commented on #145
CSV for above pic is created?

[2020-04-08 08:24] vukosim commented on #145
See https://github.com/dsfsi/covid19za/blob/master/data/district_data/provincial_lp_cumulative.csv

but maybe we can use the full district and subdistrict names on the columns. @SefaraTJ

[2020-04-08 08:32] HoosainEssop commented on #123
I have completed this enhancement and updated the notebook: https://github.com/dsfsi/covid19za/blob/master/notebooks/COVID-19%20South%20Africa%20-%20Data%20Analysis%20and%20Visualization.ipynb

[2020-04-08 08:39] HoosainEssop opened #151 "[Feature] Data Source for global confirmed, recovered and death data (includes daily updates on South Africa0"
**Is your feature request related to a problem? Please describe.**
The source contains data in CSV format that can be used for analysis on confirmed, recovered and fatal cases:

https://data.humdata.org/dataset/novel-coronavirus-2019-ncov-cases

[2020-04-08 08:41] SefaraTJ commented on #145
Sekhukhune is a missing district. To add subdistrict/municipality, then the current format should be upgraded to.
- columns [**district**, **subdistrict**, **date** ]
_I'm surprised mokopane is district!!_

[2020-04-08 08:45] vukosim commented on #145
Same here.

Date should be the first column.

patten should b

data, district1, district1_subdistrict1, district1_subdistrict2,district1_subdistrict3, district2_subdistrict1,district2_subdistrict2

@SefaraTJ

[2020-04-08 08:55] vukosim commented on #151
Thanks @HoosainEssop that data comes from a source that is keeping overall numbers and does not really work on validation of those numbers (they have many errors). It is okay to automatically pull from it for analysis but we won't be adding their data to this repo.

[2020-04-08 09:15] #151 closed

[2020-04-08 10:01] Yeshara commented on #115
Hello, is help still needed as per the Google doc? Do you still need data on the location of the testing centres?

[2020-04-08 10:10] elolelo commented on #115
Hello, yes - help is still needed ( even on the testing centres)

[2020-04-08 12:31] Yeshara commented on #115
Ok great! I have managed to get data on the testing centers, will convert it to a readable csv and upload it.

[2020-04-08 14:45] Rendiere commented on #128
Hi, I've found this data source which includes all points of interest in SA - i believe it contains the information we are looking for.

https://data.humdata.org/dataset/hotosm_zaf_buildings

I'm busy mining this dataset to come up with filters for selecting building types where food would be able to be bought. Any ideas would be helpful.

[2020-04-08 15:02] Rendiere commented on #128
I found that much of the data in that dataset was missing vital information.
So I went and created [this query](http://overpass-turbo.eu/s/SAz) for getting food / shops data from OpenStreetMap directly.

Please have a look and see if it's what was expected. Upon inspecting the data in my current location (which is quite remote), I found it contains all shops I know of.

[2020-04-08 15:09] anelda commented on #128
Hi @Rendiere this is really a quick way to get a good start. Unfortunately for my town (Kleinmond) it only contains one shop while there are at least three or four more that sell food (even during lockdown). Also this will not include spaza shops. I wonder if there's a way to expand your query to include other search terms as well? Do you know if OSM have more than supermarket and convenience? May

[2020-04-08 15:11] Rendiere commented on #128
Hey @anelda , thanks for picking that up. Yeah, I'm looking into expanding the query right now. But to be honest, I doubt we will find any data source containing geospatial information on spaza shops...

[2020-04-08 15:15] Rendiere commented on #128
I did a [quick and dirty](http://overpass-turbo.eu/s/SAC) - please check if it passes the "Kleinmond Test" ;)
(PS - my test is called the "Hermanus Test" -- we are basically neighbours)

[2020-04-08 15:18] anelda commented on #128
I hear you, but at the same time, there are studies like this (https://scholars.wlu.ca/cgi/viewcontent.cgi?article=1023&context=afsun), that means there is definitely information about spaza shops hidden in various places on the web... I guess it's about finding those and putting the information together for consumption...

[2020-04-08 15:21] anelda commented on #128
Cool :-)

Unfortunately this query picks up Pep, Pet store, etc and misses OK Grocer, Friendly Grocer, Blou Bakkie (a green grocer), the BP and SASOL convenience stores and some others which names I don't know

[2020-04-08 15:21] Rendiere commented on #128
Aaaah, looking at the data a bit closer I see that a high lever query of "shops" includes everything from pets to funerals. That's not what we want. I'll refine it to be more relevant.

[2020-04-08 15:27] anelda commented on #128
Super!

[2020-04-08 15:41] Rendiere commented on #128
Hmm, those you mentioned are still missing. I'm gonna look at the Google Places API, because a quick search showed those shops are listed on Google.

[2020-04-08 16:22] Rendiere commented on #128
Google Places API specifically blocks scraping like this.

[2020-04-09 08:32] Ari-Ramkilowan opened #154 "[BUG] : Clutered Plot - Total tests performed"
**Describe the bug**
The total tests performed plot has 5 digit (soon 6 digit) numbers. These overlap on the plot and makes the plot unreadable. This information is also duplicated by the information displayed when you hover on a point.

**To Reproduce**
Steps to reproduce the behavior:

Nothing required, just have to view the plot on the dashboard

**Expected behavior**
A clear , easy-to-read plo

[2020-04-09 11:06] mattia-vaccari opened #155 "[DATA] Error in plot"
## Which Dataset
Total Tests Performed (see attachment)

<img width="678" alt="Screenshot 2020-04-09 at 13 04 55" src="https://user-images.githubusercontent.com/7235807/78888909-e8d6db00-7a62-11ea-81ff-4402402cc44e.png">

## Error Description

For some reason, total test performed numbers now show up as 600,000 rather than ~63,000 IIRC.

## Suggested fixes
Should be trivial

[2020-04-09 11:31] vukosim commented on #155
Fixed. Thanks @mattia-vaccari

[2020-04-09 11:31] #155 closed

[2020-04-09 11:31] vukosim commented on #154
Cleaned up a bit @Ari-Ramkilowan

[2020-04-09 11:31] #154 closed

[2020-04-09 12:07] Ari-Ramkilowan commented on #80
@vukosim , @cishiv what is the status of progress on this feature. I'm happy to assist, but don't want to duplicate effort. Let me know then I'll either get cracking on this ticket or pickup another `issue`  \ `feature` from the repo

[2020-04-09 12:22] mmphego commented on #31
Did anyone pick this issue? If not, you can assign it to me and I will fix up a tweeter bot...

[2020-04-09 12:26] elolelo commented on #31
I have not. I am not sure if @cishiv  has

[2020-04-09 13:00] vukosim commented on #80
Assigned @Ari-Ramkilowan you can pick it up.

[2020-04-09 13:01] vukosim commented on #31
Assigned @mmphego

[2020-04-09 13:04] vukosim opened #156 "[Feature] Gauteng District Data"
![image](https://user-images.githubusercontent.com/836223/78897990-55f26c80-7a73-11ea-844d-3b4faef2d3eb.png)

Source https://www.facebook.com/ward56.jhbsouth/photos/a.1786382144979883/2637016066583149/?type=3

Need to create csv for all regions. Put in data/district_data/

[2020-04-09 13:07] vukosim commented on #156
![image](https://user-images.githubusercontent.com/836223/78898198-b41f4f80-7a73-11ea-9b18-02ba0f0677e6.png)

[2020-04-10 10:00] codeChap commented on #156
Any specific structure required or can I just go for it?

[2020-04-10 10:11] vukosim commented on #156
@codeChap Check the WC format in the district_data folder.

[2020-04-10 11:49] IneffableKoD commented on #115
Dear @elolelo, I already created a map for testing facilities. I would love to help map the data you have. Which data should I use from this repo: https://github.com/dsfsi/covid19za/tree/master/data

Are the hospitals (https://github.com/dsfsi/covid19za/blob/master/data/health_system_za_public_hospitals.csv) testing facilities?

Here is a link to my map: https://www.ineff.ch/cov19testmap/# (we can

[2020-04-10 11:52] IneffableKoD commented on #115
I had a hard time finding data. There is a YT video with facilities in Joburg. I also started crowdsourcing on Reddit: https://www.reddit.com/r/southafrica/comments/fycj19/looking_for_help_to_list_covid19_testing/

The crosspost to r/johannesburg got some attention.

[2020-04-10 15:10] elolelo commented on #115
Dear @IneffableKoD

Thanks for offering to help.

You could use this file :  https://github.com/dsfsi/covid19za/blob/master/data/health_system_za_hospitals_v1.csv   but in it - there isn't enough data about  the testing  facilities (less than 20 identified hospitals). Most of the data has not yet been recieved from some people who offered to help with bringing it in.

[2020-04-10 17:21] IneffableKoD commented on #115
Thank you for getting back to me! I'll check the data later and map what I can. It would be optimal to keep a file that can be updated on your end.

For an SA-specific map we can simply assign a domain with pre-set parameters.

I will make a proposal and let you know. Always open to proposals for improvements. Feel free to raise an issue in my repo in case.

[2020-04-11 06:59] Rendiere commented on #128
I suggest we use the OpenStreetMap data to build the rest of the pipeline / methods and work on improving the datasource as we go along?

We would also launch an effort to source this information as OSM is open-source...

[2020-04-11 07:23] IneffableKoD commented on #128
Feel free to fork my testing facilities map repo and replace the data.

[2020-04-11 08:18] vukosim commented on #156
@codeChap
![image](https://user-images.githubusercontent.com/836223/79038837-de405100-7bdc-11ea-9579-a54c0d86ee23.png)

[2020-04-11 09:19] vukosim commented on #156
Just got a note from a spokesperson that the first 2 cannot be used as they are not verified. Created a file with gauteng regions. CLosing this.

[2020-04-11 09:19] #156 closed

[2020-04-11 21:27] IneffableKoD commented on #115
Do you mean those that have the "Hospital responds to COVID-19" comment in the column "category"?

[2020-04-12 07:23] elolelo commented on #115
Yes, also check out my pull request.

[2020-04-12 08:42] vukosim commented on #148
@SefaraTJ could you please also add to the README.md of the district data where you got the info.

[2020-04-12 17:40] vukosim opened #162 "[Feature] Update scraper to work on Western Cape for district data"
See https://www.westerncape.gov.za/department-of-health/news/update-premier-alan-winde-coronavirus-10-april

@cishiv you might be able to help

[2020-04-12 17:48] vukosim commented on #115
Hey @elolelo @MikeMcMalace @anelda See https://coronavis.dbvis.de/en/

This is so good.

[2020-04-12 18:32] elolelo commented on #115
@vukosim I agree :)

[This link](https://www.ineff.ch/cov19testmap/#)  is to the map we talked about earlier. You may add where you see appropriate

[2020-04-13 06:12] anelda commented on #128
Hi @Rendiere, are you on the ZA Tech slack channel? See https://zatech.slack.com/archives/C7H003QF3/p1586720502130700

[2020-04-13 06:40] anelda commented on #115
@vukosim what is the relationship between this dataset and the data used in the command centre by the CSIR? Are these parallel efforts or do the data in this repository feed into that system?

[2020-04-13 07:15] Rendiere commented on #128
Hi @anelda , I am now. Is this where most of the discussion takes place?

[2020-04-13 07:31] anelda commented on #128
It's kind of a parallel community? Just trying to keep people aware of different groups working on the same thing, that's why I alerted you to this conversation and them to this thread :-)

[2020-04-13 07:51] pappacorleone commented on #128
Hey folks @anelda brought this to my attention. working on an open source food sec metadata project. Would love to find more projects like yours to contribute.

[2020-04-13 07:54] Rendiere commented on #128
Hey @pappacorleone , welcome to this discussion - we need all the help we can get.

Do you mean to say you have been working on another food security metadata project which could help to contribute to this task?

[2020-04-13 08:09] vukosim commented on #115
@anelda CSIR data in the short team won't be public. So here the goal is to make the data available in a public manner. Similar work is being worldwide to have an alternative public repo to what authorities have.

@elolelo please make amendments to main README to and also maybe some text to put on the dashboard.

[2020-04-13 08:43] surenkasilsyfinity opened #164 "[BUG] API"
## Which Dataset
cases/timeline/tests

## Error Description
The cumulative_tests is reflecting blank, please update your dataset.

Thanks

{
        "date": "07-04-2020",
        "timestamp": "20200407",
        "cumulative_tests": "",
        "recovered": "45",
        "hospitalisation": "",
        "critical_icu": "10",
        "ventilation": "",
        "deaths": "13",
        "contacts": {

[2020-04-13 09:36] anelda commented on #115
Thanks @vukosim, so is the data in this repo not feeding into the CSIR data?

[2020-04-13 10:09] vukosim commented on #164
@Vutlhari might you look at this.

[2020-04-13 10:14] vukosim commented on #115
In terms of official, I cannot publicly confirm what goes into the CSIR @anelda.

[2020-04-13 10:22] Vutlhari commented on #164
Will do

[2020-04-13 11:04] #139 closed

[2020-04-13 11:08] #138 closed

[2020-04-13 15:32] Ari-Ramkilowan commented on #80
Progress on this feature ...

I have written some python code to extract `date`, `province` and `infection count` for each of the whatsapp text files from NDOH.

Whenever the notebook is executed, it will look inside the data folder, if  a previously unprocessed `.txt` file exists it will then extract the information from the `infection count breakdown` section of the WhatsApp and store it in a `.

[2020-04-14 15:07] anelda commented on #115
@elolelo thanks so much for developing the hospital data readme file. I think it really adds a lot of value to the data. I've contributed a tiny PR #167 to add the hospital-data readme to the data folder's readme so that it's more accessible to visitors of the repo.

[2020-04-15 07:34] Vutlhari commented on #164
@vukosim this looks like a data issue, the CSV does not have `cumulative_tests` for `"07-04-2020`. Please see the attached screenshots.

![Issue #164](https://user-images.githubusercontent.com/1713303/79310102-ac402f00-7efb-11ea-8209-2c356ae6453e.png)
![API Response](https://user-images.githubusercontent.com/1713303/79310263-ef9a9d80-7efb-11ea-9b8a-d8c8612aa6da.png)

[2020-04-15 10:16] vukosim commented on #80
Ahh. Thanks. This will be very helpful @Ari-Ramkilowan

[2020-04-15 10:21] Ari-Ramkilowan commented on #80
@vukosim . I Just updated the notebook to get the difference in infection count for any two given dates (for which data exists). sample output below :
`diff_by_dates(df, '2020-04-13','2020-04-10')` gives
![Screenshot from 2020-04-15 12-20-43](https://user-images.githubusercontent.com/33620500/79326719-9b031c80-7f13-11ea-99a8-f2a4c073d462.png)

[2020-04-15 10:31] Yeshara commented on #115
Hello
I have managed to collect data on available testing centres, it can be found in a csv here: [https://github.com/Yeshara/Data-Science-for-COVID19/tree/master/TestingCentresData](url)
This data mainly covers testing centres outside of hosptials and could be combined with the hospital data for a full data set. The data is also plotted on a map of SA for visualisation.

[2020-04-15 10:40] Ari-Ramkilowan commented on #80
@vukosim : PR sent - after it gets approved I'll hop onto the next `issue`

[2020-04-15 12:12] vukosim commented on #164
Ahh yes. It means for that day, we did not get an official statement from the ministry. So we cant put numbers. @surenkasilsyfinity

[2020-04-15 12:12] #164 closed

[2020-04-15 12:13] anelda commented on #115
Hi @Yeshara, just a heads-up. You switched the URL and link around in the post above which means the link doesn't take one to your repo -[URL](https://github.com/Yeshara/Data-Science-for-COVID19/tree/master/TestingCentresData).

May I suggest that you also add information about your data sources for the testing centres like @elolelo did for the hospital data in the [hospital data readme file](data

[2020-04-15 12:22] henkhodryza commented on #147
Please assign me to do this

[2020-04-15 12:42] Yeshara commented on #115
Thanks for the heads-up!

I will update the readme!

[2020-04-15 12:57] wgova commented on #162
They look like pictures, I don't know if there's another source someone can post here to get scraper to work

[2020-04-15 13:06] vukosim commented on #147
@henkhodryza Done. Please also upload the files you use (pdfs or pictures) into the document folder. You can just name them the data-mpumalanga-district etc.

[2020-04-15 13:07] vukosim commented on #162
@wgova not pictures actually html. So should be able to scrape them.

[2020-04-15 13:48] IneffableKoD commented on #115
Dear @Yeshara, I cordially invite you to add your testing locations to our map. We already have a number of SA testing facilities and thanks to @elolelo even a Zulu translation of the map.
If you could do this with a pull request and enter your data into the GeoJSON file, that would be fantastic. Don't hesitate to get in touch with me in case you have any questions!

The map: https://www.ineff.ch/

[2020-04-16 10:23] Yeshara commented on #115
Hello!
Will do this soon.

[2020-04-16 10:25] IneffableKoD commented on #115
Great! Let me know in case you need help.

[2020-04-16 11:28] IneffableKoD commented on #115
Has anyone checked/transcribed the data from this video? https://sacoronavirus.co.za/2020/04/03/johannesburg-covid-19-testing-centres/

[2020-04-16 11:55] elolelo commented on #115
I have checked it out but haven't transcribed the data ,as yet. To avoid duplicating efforts - should I leave you to it ?

[2020-04-16 11:56] IneffableKoD commented on #115
I am very busy the next few days. Would be happy if someone could help.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, April 16, 2020 1:55 PM, Nompumelelo <notifications@github.com> wrote:

[2020-04-16 13:48] Yeshara commented on #115
I would be able to help @elolelo, if you are busy.

[2020-04-16 13:59] elolelo commented on #115
Thanks @Yeshara ,I am busy with these testing centers right now.  There is about 18 or just less clinics showning in this video. You could help by confirming that I got all the details corrently or as shown in the video. The reason for the confirmation is because the video quality from my side is not optimal, some numbers I might not get right. So, once I am done ; I will upload to the repo and th

[2020-04-16 14:13] IneffableKoD commented on #115
Thank you both @Yeshara and @elolelo!

[2020-04-16 14:46] anelda commented on #115
@elolelo @Yeshara you can use https://www.kapwing.com/tools/caption-video to automatically get access to a transcription and extract the info from there. It's free and you don't have to sign up for an account to get the transcript. There are other tools too but I found this one to probably be okay for what you need?

[2020-04-16 16:31] anelda commented on #115
I've been doing more work on understanding the process of merging facility lists and working with Andy South who is the project lead from afrimapr to see how we can help to automate some of those tasks. I updated the data readme with the new link. Here it is too - https://afrimapr.org/blog/2020/merging-health-facility-lists-part1/. We don't have a solution yet and I can't offer you a more complete

[2020-04-16 16:35] elolelo commented on #115
[Here](https://github.com/dsfsi/covid19za/blob/master/data/health_system_za_testing_sites.csv) are the testing sites, @Yeshara  if you still can please confirm the accuracy. The source for the geocoordinates and some addresses is  the Department of Health's Data Library. I will mention this on the README.

@anelda The tool is useful it's only that the audio from the video does not mention all the

[2020-04-16 16:41] anelda commented on #115
@elolelo yes, African language speech to text is a field under development. If you have more needs like this, we should reach out to https://sadilar.org. Their people might know of a tool that is better with South African names and pronunciation. Not too convinced that we'll find something that will work 100%, but it's worth a try if it will save you time.

[2020-04-17 09:23] HoosainEssop commented on #147
Good day. I have worked on a solution using AWS Textract. As shown in the attachment. Although it should be said that if the layout of the image changes with future releases/posts on Facebook or other social media then the script would have to be adjusted to handle those changes.![MPDistrictData](https://user-images.githubusercontent.com/40713765/79553929-966a6f80-809d-11ea-8914-438698eb56e8.png)

[2020-04-17 09:59] Yeshara commented on #115
@elolelo I have looked at your data and the video and it seems to be accurate! Just saw that entry 9 doesn't have coordinates?

[2020-04-17 10:22] elolelo commented on #115
@Yeshara That clinic on entry 9 has an address (one shown on the video ) that does not correspond with the geo-coordinates and the address shown in the Data Dictionary (source for geo-coordinates). So, l will check on google maps a bit later what geo codes to use. Thanks.

[2020-04-17 19:51] Pygario opened #179 "[Feature] Twitter Data"
I have been scraping tweets related to the virus in South Africa (just #Covid19SA so far but planning on doing more) for a personal project I am working on and I was wondering if you might have use for this data?

I am currently sitting with about 14000 tweets, going back to the 5th of April, in a CSV file(it's a bit dirty).

I am working on a sentiment analysis project so I will be getting as muc

[2020-04-17 20:35] riazarbi opened #180 "[Feature] What sort of data would you like from a provincial government?"
**Is your feature request related to a problem? Please describe.**
If, *hypothetically*, a provincial government was open to sharing more data with the public with the aim of building public confidence and promoting a more cohesive public response -

1. What sort of data would it be useful to share
2. What dissemination methods would maximize the chances of a meaningful impact?

We're all numerica

[2020-04-17 20:36] riazarbi commented on #162
If you have the time please comment on #180

[2020-04-17 20:38] riazarbi commented on #19
If anybody would like to comment on #180 I'll take it to whatever channels are open to me

[2020-04-17 20:39] riazarbi commented on #103
Please comment on #180 if you have the time.

[2020-04-18 01:23] henkhodryza opened #181 "API missplaced keys [BUG]"
**API data bug**
When you hit the endpoint `/cases/deaths`
"age" and "gender" keys do not have the
corresponding values.
"age" has a string value that belong to "gender"
and "gender" has a integer value that belong to "age"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [to this end piont](https://covid-za-api.herokuapp.com/cases/deaths)
2. Check each object of the JSON file
3. You wi

[2020-04-19 07:02] 1Map opened #184 "[DATA] covid19za_provincial_cumulative_timeline_deaths.csv not getting updated on a regular basis"
## Which Dataset
/data/covid19za_provincial_cumulative_timeline_deaths.csv

## Error Description
Although other files are getting updated on a regular basis, this file does not and is behind.

## Suggested fixes
  1. Update this file when you update /data/covid19za_timeline_deaths.csv

[2020-04-19 08:37] bmerry opened #187 "[Feature] Inconsistency in "province" fields"
**Is your feature request related to a problem? Please describe.**
In some places province is a 2-3 letter code (WC, KZN), in some places there is a ZA- prefix (e.g. ZA-WC, ZA-KZN) and in others the full name is used (Western Cape etc). These can be seen [here](https://github.com/dsfsi/covid19za/blob/master/data/covid19za_timeline_confirmed.csv), [here](https://github.com/dsfsi/covid19za/blob/mast

[2020-04-19 19:27] webdevan commented on #180
I'm no scientist but I'll give my 2 cents.

The withholding of data is bad and I think all data should be made available as much and as quickly as possible to enable independent research.

For Covid-19 deaths it would be good to know some specifics like age, sex, co-morbidity - to help determine who are most susceptible.

We are getting some numbers (eg positive cases) per district but it would be

[2020-04-19 20:40] riazarbi commented on #180
Thanks @webdevan this is useful.

We all feel the pain of the data vacuum - this repo is indispensable even to parts of govt that don't have a direct line to the DoH.

A balance needs to be struck between data transparency (which I advocate) and patient confidentiality. It's also important to make sure one doesn't cause panic with the sort of data being released. For instance a real time feed of b

[2020-04-19 20:47] riazarbi commented on #180
On this, for Cape Town at least, there is the Service Request datasets. These are geolocated timeseries of all the service requests (blocked sewers, lights out etc - not crimes which are confidential) that the City receives. It would be interesting to analyse how these have been impacted by the crisis. Are there less issues being reported? Is local govt more or less effective at service delivery d

[2020-04-20 05:59] coenraadhuman opened #191 "[Feature] Provincial cumulative data for deaths, confirmed cases and recoveries."
I would like to include recoveries for province data on the [https://sacovid.co.za/](https://sacovid.co.za/) dashboard.

Is there a possibility that a new endpoint or upgraded "/cases/timeline/provincial/cumulative" can be provided?

[2020-04-20 21:16] Garfsfield opened #194 "[Feature] Updates are not often enough to match the irregular announcements."
A cron job which runs every 5 to 15 minutes would ensure that updates are mined from the NICD released files a lot better.

i.e */12 * * * * (run covid update file) >/dev/null 2>&1

[2020-04-21 06:24] vukosim commented on #194
@Garfsfield NICD no longe releases their statements in timely points. So volunteers work to read the statements that the minister or premiers publish (which are not yet standardisedO

[2020-04-21 14:38] lostpebble commented on #194
@vukosim thank you so much for the work you and the other volunteers are doing. I know its not easy to keep everything up to date all the time because the information is released sporadically and sometimes only in images on Twitter etc.

I would like to help contribute as well, as I'm sure many others would too.

Could we not maybe start a discord or slack server, basically a place for everyone wh

[2020-04-21 17:04] shaunsaker opened #195 "Latest confirmed cases in provincial cumulative data is incorrect"
Hi @vukosim!

First of all, thanks for the awesome work you are all doing!

One of the users of my [App](https://github.com/shaunsaker/covid-19-south-africa-app)  just reported that the latest confirmed cases number is incorrect. It should be **3465** and not 3645.

Thanks again.

[2020-04-21 17:05] incrediblejagur opened #196 "[DATA]"
## Which Dataset

Cumulative Provincial data total

## Error Description

Wrong total.

## Suggested fixes
  3645 ==> 3 465 via https://www.nicd.ac.za/covid-19-update-37/

[2020-04-21 17:10] vukosim commented on #196
Fixed.

[2020-04-21 17:10] #196 closed

[2020-04-21 17:10] vukosim commented on #195
Fixed.

[2020-04-21 17:10] #195 closed

[2020-04-22 10:38] frikkieventer commented on #180
Can you include the number of covid 19 tests being conducted per province in the dashboard please

[2020-04-22 11:09] vukosim commented on #180
Can we go for this?

Vukosi

http://www.vima.co.za
http://www.twitter.com/vukosi

On Sun, 19 Apr 2020, 22:47 Riaz Arbi, <notifications@github.com> wrote:

[2020-04-22 15:01] vukosim commented on #184
@1Map if you could assist with creating a pull request with the data as it becomes available, that will assist a lot.

[2020-04-22 15:01] vukosim commented on #181
@Vutlhari please check

[2020-04-22 15:02] Vutlhari commented on #181
I will take a look 😊

[2020-04-22 15:13] Vutlhari commented on #181
This issue was fixed in a previous PR, it was just not deployed for some reason. I have deployed the latest changes. I have tested the deployed version and the mapping now seems alright. Please verify @henkhodryza

[2020-04-22 20:36] TeeZA42 opened #199 "[DATA]"
## Which Dataset
covid19za_provincial_cumulative_timeline_confirmed

## Error Description
2 row entries for 21-04-2020 is this correct? Last one should be 22-04-2020

21-04-2020,20200421,345,106,1199,671,27,24,16,24,1010,43,3465,https://twitter.com/DrZweliMkhize/status/1252631607166500866?s=20
21-04-2020,20200421,377,106,1224,758,27,23,16,24,1079,1,3635,https://sacoronavirus.co.za/2020/04/22/updat

[2020-04-22 20:36] riazarbi commented on #180
Ok, WC gov has a corona website up here -https://www.westerncape.gov.za/department-of-health/coronavirus . Not sure if it has been posted before. Winde committed to getting a dashboard up by end of week in the bottom of this press statement - https://www.westerncape.gov.za/department-of-health/news/coronavirus-update-premier-alan-winde-21-april . Not sure if it will be machine readable.

[2020-04-23 09:37] 1Map opened #201 "[DATA] Date value wrong in covid19za_provincial_cumulative_timeline_confirmed.csv"
## Which Dataset
covid19za_provincial_cumulative_timeline_confirmed.csv

## Error Description

You will notice in the latest csv file the mistake (In bold below)

21-04-2020 | 20200421 | 345 | 106 | 1199 | 671 | 27 | 24 | 16 | 24 | 1010 | 43 | 3465 |
22-04-2020 | **20200421** | 377 | 106 | 1224 | 758 | 27 | 23 | 16 | 24 | 1079 | 1 | 3635 |

[2020-04-23 17:46] dmackie commented on #201
This was fixed by @vukosim in https://github.com/dsfsi/covid19za/commit/de8e4227b95cf5335812f087359a5733a3605580

[2020-04-23 17:48] dmackie commented on #199
This was fixed by @vukosim in https://github.com/dsfsi/covid19za/commit/de8e4227b95cf5335812f087359a5733a3605580

[2020-04-23 17:56] KatlegoKwena opened #202 "I would like to see daily data not cumulative as it is on the datasets"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-23 17:57] dmackie commented on #187
Please rather add a field such as `geo_subdivision` then change data.  There could be people replying on the naming scheme already.   Also please use standard naming scheme such as https://en.wikipedia.org/wiki/ISO_3166-2:ZA which seems to be used in the one dataset.

[2020-04-23 18:18] bmerry commented on #187
Sure, will take a look this weekend. Thanks for the Wikipedia link - I learnt something new.

[2020-04-24 05:41] #201 closed

[2020-04-24 05:41] #199 closed

[2020-04-24 05:42] vukosim commented on #194
We do have a discord https://discord.gg/BgP8HHj

[2020-04-24 05:43] vukosim commented on #187
Thanks @bmerry
If you fouls assist with proposed changes and put them in the staging folder, that would be great.

[2020-04-24 05:44] vukosim commented on #202
@KatlegoKwena The dashboard has different types of graphs and at the moment to reduce noise we will keep as is. You are welcome to download the datafiles and analyse.

[2020-04-24 05:44] #202 closed

[2020-04-24 05:46] vukosim commented on #191
@Vutlhari please see

@coenraadhuman could you volunteer to also update [covid19za_provincial_cumulative_timeline_deaths.csv](https://github.com/dsfsi/covid19za/blob/master/data/covid19za_provincial_cumulative_timeline_deaths.csv)

and create covid19za_provincial_cumulative_timeline_testing.csv

[2020-04-24 05:48] vukosim commented on #194
@Garfsfield if you can assist with  automation scripts for some of the tasks that you think can be automated, please do.

[2020-04-24 05:48] #184 closed

[2020-04-24 05:48] #146 closed

[2020-04-24 05:49] #181 closed

[2020-04-24 05:49] vukosim commented on #180
@riazarbi that website is being used to update the district data.

[2020-04-24 05:50] Vutlhari commented on #191
I can take a look 🙂

[2020-04-25 03:47] Remwrath opened #207 "[Feature]"
**Is your feature request related to a problem? Please describe.**
Frequent polling of api's can be problematic

**Describe the solution you'd like**
Two new api's would be very handy to help reduce frequent api polling of data heavy endpoints

- An api to indicate whether there is new data by returning a timestamp of the last time data was updated
- An api to indicate whether there is new data pe

[2020-04-25 10:32] Remwrath commented on #207
initial work done with #208

[2020-04-26 08:17] Remwrath commented on #207
Hi @Vutlhari,

How would you like to handle automatically updating the timestamps?
ie read file last modified when the api server starts up?

Would it be possible to setup a github hook to redeploy the api server when master is updated so that the lastest changes reflect on the api?

[2020-04-26 10:00] Vutlhari commented on #207
I think we can setup a git hook to write the value somewhere, maybe a simple key-value store.

Then the API can read the value from the same place. We could ride the value in Redis for quick access.

[2020-04-26 10:47] Remwrath commented on #207
Cool just let me know what I can do to help

[2020-04-26 13:26] vukosim opened #212 "[Feature] Eastern Cape District Data File"
See https://twitter.com/OscarMabuyane/status/1252154489005641730?s=20

and https://twitter.com/OscarMabuyane/status/1254382656743264256?s=20

and
![image](https://user-images.githubusercontent.com/836223/80308987-52c8e180-87d2-11ea-85dd-c419377862b1.png)

[2020-04-27 05:00] codeChap opened #216 "It would be worth including the lockdown level per province starting from 1 May"
It would be worth including the lockdown level each province is at starting from 1 May. Been able to see how infection rates increase or decreate according what level a province is in would be a valuable insite.

Id suggest an extra column in "covid19za_provincial_cumulative_timeline_confirmed.csv" labeled level.
![photo_2020-04-27_06-58-37](https://user-images.githubusercontent.com/451621/8033546

[2020-04-27 06:45] bmerry commented on #207
HTTP has standard headers to manage this sort of thing: Last-Modified on responses to indicate when the content was last updated, and If-Modified-Since on requests to indicate that the body should only be returned if it has been updated after a particular time. Browsers will (I think) automatically use this (together with cache-control headers) to cache content, without needing a custom API.

It m

[2020-04-27 07:01] bmerry opened #217 "[BUG] Dashboard showing zero cases for 26 April"
**Describe the bug**

The datastudio dashboard shows 0 total cases for 26 April.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://datastudio.google.com/u/0/reporting/1b60bdc7-bec7-44c9-ba29-be0e043d8534/page/hrUIB
2. Look at the graph of total positive cases.

**Expected behavior**

April 26 should have a non-zero number of cases.

**Screenshots**
If applicable, add screenshots

[2020-04-27 07:07] Vutlhari commented on #207
@bmerry would you like to look into this?

[2020-04-27 07:12] vukosim commented on #217
Thanks @bmerry picked it up and fixed.

[2020-04-27 07:15] #217 closed

[2020-04-27 07:19] bmerry commented on #207
I'll take a look when I get around to it; but it might only be a few weeks, so if someone has time to work on it sooner I don't want to stand in the way.

[2020-04-27 07:20] Vutlhari commented on #207
I'm looking at an issue now, so maybe I will pick it up after that.

[2020-04-27 07:33] Vutlhari commented on #191
@coenraadhuman please let me know when you've updated the CSV soI can update the API.

[2020-04-27 08:00] Remwrath opened #218 "[Feature] Request database on heroku server"
**Is your feature request related to a problem? Please describe.**
It is tricky to write api's that combine data from different csv files. Working with csv files is not ideal.

**Describe the solution you'd like**
I would like to request a database be added to the heroku server for storing and serving the data

**Describe alternatives you've considered**
The alternative is files that have the issu

[2020-04-27 08:15] Remwrath commented on #207
@Vutlhari
Thanks @bmerry, had a look into it, would just require adding header to the existing responses
`ctx.Response().Header().Set("Last-Modified", "Wed, 21 Oct 2015 07:28:00 GMT")`
`Last-Modified: <day-name>, <day> <month> <year> <hour>:<minute>:<second> GMT`

We will still need to implement a way to ascertain and inject the date ie the Redis suggestion.

Will also need to add to the readme ad

[2020-04-27 08:54] JemLukeBingham commented on #162
Along these lines, is there anybody willing to start collecting what data is available regarding the number of people screened by community health workers? (should this be a separate request?)

[2020-04-27 08:56] JemLukeBingham commented on #180
Very valuable would be the numbers of people screened by community health workers (with as much spacial resolution as possible) and a breakdown, among those tested, of the reasons for testing (contact tracing, community health worker screening, or presenting at hospital with symptoms). This would be invaluable for making sense of other data streams.

[2020-04-27 11:38] vukosim commented on #218
@Vutlhari

[2020-04-27 12:53] Remwrath commented on #207
@Vutlhari are the api's fetching the data failes from github then serving them rather than from its local file system?

I had a look at how to get the timestamps and came up with one way that stores the timestamp of the last commit to modify said file when the api server starts up, then uses that in the header "Last-Modified" when sending the response. Does this sound like a reasonable solution?

[2020-04-27 13:22] coenraadhuman commented on #191
Hi all, I won’t be able to update the CSV on a regular basis. So I’ll have to decline the offer.

[2020-04-27 14:26] bmerry commented on #207
@Remwrath I'm trying to understand your use case a little better:
- Do you want to know for sure the last time the data changed, or do you just want an indication that it *might* be worth checking again?
- Are you worried about frequent queries putting a load on the server, or on the client (or both)?
- Is the client a web browser (using Javascript to pull the data from the API) or something else?

[2020-04-27 16:56] riazarbi commented on #180
@vukosim im going to leave this issue open so that I can point public health officials to it as evidence of what the community wants. But if you want to close it feel free - it’s your repo.

@JemLukeBingham i’ll make sure to mention that whenever I get the chance.

[2020-04-27 19:15] bmerry commented on #194
Out of interest, is there any collaboration with other groups making dashboards e.g. [Wits/iThemba/Dataconvergence](https://www.covid19sa.org/) or [Mediahack](https://mediahack.co.za/datastories/coronavirus/dashboard/)? While the different displays contribute different insights, I'm sure there would be value in sharing the work on data capture.

[2020-04-27 22:38] Remwrath commented on #207
@bmerry
- Mainly looking for an indication that its worth checking again, could also be useful to to know the last time the data changed.
- Worried about frequent queries to the server, I realise may be premature optimisation but currently the api is doing a file lookup, processing the entire file and sending all the data irregardless of how much of that data you need.
- I am imagining a system us

[2020-04-28 19:05] bmerry commented on #207
@Vutlhari does Heroku provide any statistics on the number of queries or amount of traffic?

I think most of these concerns can be addressed by a combination of providing Cache-control headers in the application (should be pretty easy to do with a middleware) and putting Varnish in front of it. Varnish will then cache the data, which will limit the rate at which we query Github regardless of how f

[2020-04-28 19:18] Vutlhari commented on #207
@bmerry

1. Yes, Heroku does provide metrics, BUT I am using the free-tier (with dynos that sleep after 30 minutes of not being queried).
2. I have a lot of AWS credits so I can consider hosting the API there and setup proper logging & rate limits.
3. I’ve seen requests for adding a DB to make querying of data a bit more efficient.
3.1. I initially chose to write the API in Golang out of interest

[2020-04-29 09:11] rudzanimulaudzi opened #228 "Luvenda Translation of the dashboard"
Hello,

I'm interested to contribute to this project, I have not as yet found a way in. However, I would like to offer translations into Tshivenda / Luvenda language, similar to what was done with Xitsonga.

[2020-04-29 12:45] vukosim commented on #228
I have asked the creator of the Xitsonga version to comment.

[2020-04-29 12:53] vukosim commented on #216
Thanks @codeChap we can create the file to keep track of that. If you can assist with keeping it updated?

[2020-04-29 13:09] poshzel opened #229 "[Feature] Query"
Hi, first thank you very much for this data set. May i ask if you can direct me to a source where i can find the following data please: Number of beds available per province, number of hospitalized patients, number of icu patients of hospitalized number, number of vent patients of icu number, list of co-morbidity per admission, age breakdown for positive tests, hospitalization, icu and vents; gend

[2020-04-29 13:30] vukosim commented on #229
@poshzel Please see the healthsystems files. And if you have any other queries you can also tag

@elolelo @anelda and @MikeMcMalace

[2020-04-29 19:05] poshzel commented on #229
Hi Vukosim,
I think I am a bit new to this site.  I cannot seem to find the healthsystem files.  Could you possibly give me a link to them. Many thanks

[2020-04-30 05:46] codeChap commented on #216
Cool, if you create the file I’ll look after it. Or I can create it. What columns would we need  - level and source of information?

[2020-04-30 05:53] vukosim commented on #216
See the cumulative province.

create a folder called lockdown in the data folder and put the file in there.

[2020-04-30 06:19] anelda commented on #229
Hi @poshzel, the health facility data is in https://github.com/dsfsi/covid19za/tree/master/data. All the hospital files have the word `hospital` in the file name. The data is described here - https://github.com/dsfsi/covid19za/blob/master/data/README_hospital_data.md and in this issue - #115

I'm not sure where the information about hospitalisation is coming from. Much of the information you're lo

[2020-04-30 10:30] biltongza opened #231 "[Feature] Separate testing breakdown per province"
Looking at the provincial page, the numbers for WC look a little alarming, but the graph does not take into account how much testing has been done in the WC vs the rest of the provinces.

![image](https://user-images.githubusercontent.com/2845704/80700615-4b5d4d00-8ade-11ea-9934-b0a5e4f35bad.png)

We have aggregated testing numbers for the whole country, but can that be broken down per province an

[2020-04-30 16:24] jeteon commented on #218
Are you looking for an actual database you can query or would having an HTTP API suffice for the request?

[2020-04-30 18:23] IamC8 commented on #216
Hi guys. I was looking at info regarding the levels and came across your conversation.
I was looking everywhere for more info on this topic.
Saw on co.za that a new site was created: http://lockdownlevel.co.za/ but not sure if it is a hobby site or gov site. Hosted on Afrihost, so I assume hobbyist.
Anycase, will there be an official site with the global, provincial, district, and metro levels as

[2020-04-30 20:49] webdevan commented on #103
@vukosim can we close this issue?

[2020-04-30 20:56] webdevan commented on #162
we should be able to scrape the western cape's dashboard. they seem to have established a fairly consistent format now.

hypothetically, if i develop a scraper, how should it work? is there someone who will host/run it? Are there other scrapers in this project?

hey @JemLukeBingham, maybe best to open a new issue.

[2020-05-01 08:22] JemLukeBingham opened #237 "[Feature] Collect numbers of people screened by community health workers"
Is there anybody willing to start collecting what data is available regarding the number of people screened by community health workers?

For example, numbers can be scraped from Western Cape daily press releases on https://www.westerncape.gov.za/department-of-health/coronavirus.

@webdevan

[2020-05-01 08:57] codeChap commented on #216
Yes - it looks like it might break down beyond a provioncial level. Ethekwini could have remained on Level 5, while the rest of the provinc would have been on level 4. So the data structure is probably going to have to change.

[2020-05-01 10:43] vukosim commented on #237
@JemLukeBingham Would you be open to adopting that as your file to update. We would like to create a file to track by province their testing information (which will include screenings).

[2020-05-01 10:44] vukosim commented on #231
@biltongza very true. At the moment I think Gauteng has half the tests of Western cape. See issue #237 in terms of seeing if we can then create a screening and testing by province data.

[2020-05-01 10:45] vukosim commented on #229
Thanks @anelda

[2020-05-01 13:08] bmerry commented on #207
You might be able to get a very rough idea from `heroku logs --tail`, since it logs every HTTP request.

[2020-05-01 15:57] lunt477 commented on #231
Would love to have KZN provincial cumulative COVID-19 data

[2020-05-03 10:42] vukosim opened #243 "[Feature] Extract Data from NICD Reports"
What data might be useful to extract and make available via csv?

See
![image](https://user-images.githubusercontent.com/836223/80912164-624cab00-8d3b-11ea-8492-ba13bd021bf1.png)

https://www.nicd.ac.za/wp-content/uploads/2020/05/2020-04-30-COVID-19WklyEpiBriefFinal_Week18.pdf

https://www.nicd.ac.za/diseases-a-z-index/covid-19/surveillance-reports/

[2020-05-03 15:02] bmerry commented on #187
I think I've covered everything possible within the constraints of backwards compatibility, so closing.

[2020-05-03 15:02] #187 closed

[2020-05-03 20:24] heerden opened #249 "[Feature] Realtime R0 notebook automation"
**Is your feature request related to a problem? Please describe.**
To continue the discussion after my last pull request #227, I followed @vukosim suggestion to add a Github Action script.

**Describe the solution you'd like**
I have simulated a possible solution on my fork.

The automation is driven by the [realtime_r0_action.yaml](https://github.com/heerden/covid19za/blob/master/.github/workflow

[2020-05-04 05:49] vukosim commented on #249
Fantastic @heerden. Can you do the pull request?

[2020-05-04 06:24] heerden commented on #249
You can see pull request #250

The action can be trigger by several events. Currently, it will only trigger when `covid19za_provincial_cumulative_timeline_confirmed.csv` changes, but we can also set it for changes in a specific branch or when a tag is assigned to a commit.

[2020-05-04 06:52] vukosim opened #251 "[Feature] Adopt Provincial Testing Sheet - Sleuthing and updating"
We need assistance with someone who can adopt to update [this file](https://github.com/dsfsi/covid19za/blob/master/data/covid19za_provincial_cumulative_timeline_testing.csv) and also look for older entries [For example from provincial reports] like the Western Cape daily updates.

This is for total number of tests done per province.

We need to go back as much as we can and also get into a rhythm

[2020-05-04 07:22] Tensorflow13 commented on #251
This needs to be done daily?

[2020-05-04 07:29] vukosim commented on #251
@Tensorflow13, not all data is updated daily by provinces. So it can be a scheduled update, like very 2 days.

[2020-05-04 07:36] uelsimon commented on #251
I’ve only seen updates really from the following…and they lower they get…the less consistent

Regular:
WC
GP

Semi regular:
NW
MP

Rare:
KZN

Never:
EC
FS
LP
NC
On 04 May 2020, 09:29 +0200, Vukosi <notifications@github.com>, wrote:

[2020-05-04 08:04] vukosim commented on #251
Thanks @uelsimon can you update those that have been regular and semi regular for the last 2 weeks or so?

[2020-05-04 08:15] uelsimon commented on #251
May not be able to commit to updating the CSVs…. But how about this instead (as my contribution).

I already do the scour and dump in my own spreadsheet. Anyone from the team is welcome to grab it for there. I’ve been doing a pretty comprehensive scour for a few weeks, so what I have..should be pretty accurate.

Only use what’s on the Master Data tab https://docs.google.com/spreadsheets/d/1Pyt2nfO

[2020-05-04 08:19] vukosim commented on #251
@uelsimon that is fine. If we can extract data from your sheet for the csvs and you can upload them here [for what you have] I can then commit them to improve the starting data. Let us know what other data you have and where we should put it.

The good thing about your doing the csv pull request yourself is it is recorded in github contributors.

[2020-05-04 08:30] uelsimon commented on #251
Fair enough…. Lemme find a YouTube video for a refresher on the easiest way to do that lol…and I’ll jump in later on the live updates

As for the data I have, I’ve captured literally any stat that has been uttered from an official public source. ( think I started around mid march). The best source for consolidated data is twitter (speed and content). I’ve created this list as my jump-off point and

[2020-05-04 08:37] vukosim commented on #251
We have a guide on pull requests here https://opensource.com/article/19/7/create-pull-request-github

You can also just create sheet pages on your google sheets and just ask me to review before you convert them to csv.

[2020-05-04 08:40] JemLukeBingham commented on #237
@vukosim I have quite a bit of pressure from other directions this week, but I will see what I can do, and will try to out whether anyone from our team has capacity to help out.

[2020-05-04 09:00] vukosim opened #252 "[Feature] Updating Zenodo (Dataset DOI)"
This project has grown immensely in the last month and we are now ready to make an update to the Zenodo listing. We will use this issue to identify the contributors that need to be added to the Zenodo listing and DOI https://zenodo.org/record/3723347

[2020-05-04 09:01] vukosim commented on #80
Thanks @Ari-Ramkilowan

[2020-05-04 09:01] #80 closed

[2020-05-04 11:22] elolelo commented on #252
Hi all,

I have created [this file](https://github.com/dsfsi/covid19za/blob/master/contributors.csv), populated it with details of contributors not on  Zenodo listing. There is only one person who is not on the repo's contribution section - her details are added at the end. You may add others whose details are not included.

[2020-05-04 11:50] vukosim opened #253 "[Feature] COVID19za Open Data All-hands"
Meeting will be on Google Meet

You can vote on time on  Doodle Here https://doodle.com/poll/c25f2yehighinz3x

Sign up for RSVP Here https://docs.google.com/forms/d/e/1FAIpQLSed3oL9irmysqe11uc6EqJT0b2hAZFAB8PoNcJ_IY_6RZ7usw/viewform

You can ask questions before meeting here https://app.sli.do/event/ylztlyt6

[2020-05-04 13:24] irenekoekemoer commented on #231
I would also like to see the stats shown per testing done per province, as this this will give a better picture of how the tests relates to the the infected.

[2020-05-05 20:21] heerden commented on #249
I see the action is running well.

@vukosim for the second yml you created, which notebooks do you have in mind? If there is a common trigger we can combine all the run step in one instance?

[2020-05-05 22:23] dmackie commented on #251
I have have gone through all the Coronavirus Press Releases from the Western Cape Gov and extracted the data they provided into a Google Sheet.  I have added a infered date column as they have said they report at 5pm (now 1pm) the previous days numbers.

I have copied the data to a Google Sheet at https://docs.google.com/spreadsheets/d/17Jzxi_ejt5nO10TIQK3qXyIiNBsjCfYXJ8t7OY6G2RU/edit?usp=sharing

[2020-05-06 06:38] vukosim commented on #253
Hey @anelda @lizelgreyling @Vutlhari @dmackie @Ofentswe1 @JosephSefara @naturofix @cishiv @Ari-Ramkilowan @altadewaal @JayWelsh @sibusiso16 @nikrich @webdevan @lostpebble @riazarbi

Please see above. This is for all contributors. Tag as many as you would like.

[2020-05-07 11:04] natterlyk opened #265 "Virus Reproduction rate"
Thanks for the great dashboard.
Do you know where I can find R0 number for Covid 19 in SA?
It would be very useful to have on the dash board. As Germany is watching that number to know when to ease their lockdown, it would be helpful to see it on here too.

Many thanks

[2020-05-07 15:07] heerden commented on #249
The notebook and Action have been updated to export district results, with pull request #266.

[2020-05-07 15:08] heerden commented on #249
Glad to see that most regions are below 1 today!

[2020-05-10 10:53] MikeMcMalace opened #277 "[Feature][ModelHub] modelling, projections and parameters related to South African COVID-19 projections"
**Is your feature request related to a problem? Please describe.**
This feature is related to standardisation when it comes to modelling that can be performed on the data.

**Describe the solution you'd like**
All over the world, researchers have published enough literature related to COVID-19, and there are two processes that can be decided upon by the group - and anyone interested in predictive

[2020-05-10 13:24] vukosim commented on #251
@uelsimon Are you able to share your sheet.

[2020-05-10 14:05] uelsimon commented on #251
https://docs.google.com/spreadsheets/d/1Pyt2nfOpH0KPB5LOxeYHkYbKA7F9cRPpapyfWGIUowE/edit?usp=sharing

I am slowly working my way to being able to directly make edits.  Downloaded GitHub desktop and cloned the repo.  But mostly challenged on time.

All my data is on the Master Data Sheet, derivatives and remixes are on other sheets…so I’d recommend just focusing on the Master Data Tab for what is n

[2020-05-11 06:01] vukosim commented on #253
@anelda @lizelgreyling @Vutlhari @dmackie @Ofentswe1 @JosephSefara @naturofix @cishiv @Ari-Ramkilowan @altadewaal @JayWelsh @sibusiso16 @nikrich @webdevan @lostpebble @riazarbi

We now have a file for you to list which files you are taking care of [adopted to update], please edit https://github.com/dsfsi/covid19za/blob/master/covid19za_volunteer_adopted_files.csv and add your file and your usernam

[2020-05-11 08:22] vukosim commented on #277
The scripts can be updated via github actions. See that now the data/calc folder is updated everytime the provincial confirmed cases data is updated.

[2020-05-11 13:12] vukosim commented on #253
@Vutlhari We can target the Astro4Dev funding for the API premium upgrade.

[2020-05-13 07:54] vukosim commented on #265
Please see the Realtime R0 in the notebook folder @natterlyk

[2020-05-13 07:54] #265 closed

[2020-05-13 08:03] vukosim commented on #252
Tjamls @elolelo I have updated the DOI, need the other names from those usernames.

[2020-05-13 08:04] #253 closed

[2020-05-13 10:12] nvddussen opened #287 "[BUG] Wrong captions for WC reproduction rate"
https://datastudio.google.com/u/0/reporting/1b60bdc7-bec7-44c9-ba29-be0e043d8534/page/MX5LB

The realtime reproduction rate graph for the western cape is captioned as Gauteng.

[2020-05-13 13:59] D1ng3r opened #288 "Discontinuation of recovery testing"
I believe they have discontinued testing patients to see if they have recovered, so that feature may become static

[2020-05-13 14:06] vukosim commented on #288
Thanks for this. Do you have a link to a statement or suggestions on who we should ask?

[2020-05-13 18:25] vukosim commented on #145
@JosephSefara Can you add a source column to the csv at the end, as well as a total column.

[2020-05-13 19:23] #145 closed

[2020-05-14 06:50] Mammamjj opened #290 "[DATA]"
## Which Dataset
Ekurhuleni

## Error Description
May 11 cannot be 4335. I assume a typo.

## Suggested fixes
  1. 435
  1.
  1.

[2020-05-14 11:57] #290 closed

[2020-05-14 12:07] vukosim commented on #287
Fixed @nvddussen Thank you.

[2020-05-14 12:07] #287 closed

[2020-05-14 12:08] vukosim opened #292 "[BUG] Action workflow need for updated realtime notebook"
Hey @heerden, please check the notebook for a regression that causes the workflow to fail for realtime rt.

[2020-05-14 13:05] nvddussen commented on #287
Great!

You guys are wonderful!  Amazed what you did with minimal info!

Regards
Nico

From: Vukosi <notifications@github.com>
Sent: Thursday, 14 May 2020 14:08
To: dsfsi/covid19za <covid19za@noreply.github.com>
Cc: Nico van der Dussen <nvddussen@thekraken.info>; Mention <mention@noreply.github.com>
Subject: Re: [dsfsi/covid19za] [BUG] Wrong captions for WC reproduction rate (#287)

Fixed @nvdduss

[2020-05-14 15:26] heerden commented on #292
Hi @vukosim, it was the low variability in the NW district data which caused the error. I have removed those districts for now. Here is the pull request #294

I will work on some additional error handling to avoid future bugs like this.

[2020-05-14 20:45] elolelo commented on #252
@vukosim maybe asking for their full names over emails could help. Some have their email addresses visible

[2020-05-15 12:36] SimonRosen173 opened #299 "[DATA] Misspelt column name in covid19za_provincial_cumulative_timeline_testing.csv"
## Which Dataset
covid19za_provincial_cumulative_timeline_testing.csv

## Error Description
"UNKNOWN" column is misspelt. It appears as "UKNOWN".

## Suggested fixes
  1. Spell column as "UNKNOWN" rather than "UKNOWN".

[2020-05-16 12:05] shaze commented on #251
For testing data the NICD epidemiological briefs give comprehensive testing information at provincial level. eg.  https://www.nicd.ac.za/wp-content/uploads/2020/05/NICD-Weekly-Epidemiological-Brief_-Week-ending-09-May-2020-002-00000002-1.pdf   There only 3 briefs so far but hopefully they will be weekly.

[2020-05-16 15:52] #299 closed

[2020-05-16 15:52] vukosim commented on #292
Thanks @heerden

[2020-05-16 15:52] #292 closed

[2020-05-16 15:53] vukosim commented on #251
Thanks @shaze we are keeping track of that. Just need some time or a volunteer to extract all that data.

[2020-05-16 15:53] #288 closed

[2020-05-16 15:54] vukosim commented on #249
Thank you @heerden for you work on this. This will now be closed.

[2020-05-16 15:54] #249 closed

[2020-05-16 15:55] vukosim commented on #231
See data/covid19za_provincial_cumulative_timeline_testing.csv

If you have other sources of data for these, please provide.

[2020-05-16 15:55] vukosim commented on #237
@JemLukeBingham there is no rush as we want to have good data and numbers.

[2020-05-16 15:56] vukosim commented on #228
@rudzanimulaudzi have you been able to start?

[2020-05-16 15:57] #216 closed

[2020-05-16 15:57] vukosim commented on #207
@Vutlhari please close if you are happy with this.

[2020-05-16 15:57] #58 closed

[2020-05-16 15:58] #49 closed

[2020-05-16 15:58] #41 closed

[2020-05-16 15:59] vukosim commented on #33
@jphfisher please take a look at the death data we collated https://github.com/dsfsi/covid19za/blob/master/data/covid19za_timeline_deaths.csv

[2020-05-16 15:59] #33 closed

[2020-05-16 15:59] #32 closed

[2020-05-16 16:00] vukosim commented on #17
@anelda on the dashboard this is now available [has been for a while now]. I have been tardy

[2020-05-16 16:00] #17 closed

[2020-05-16 16:00] shaze commented on #251
@vukosim Am happy to do this though it will take me about a week to catch up The NICD reports give number of tests per capita in each province based on Stats SA 2019 mid-year estimates. But I see people here are working on this too and I don't want do duplicate it. While the NICD reports are only weekly and seem to come out a few days later I would recommend them as being highly reliable compared

[2020-05-16 16:01] vukosim commented on #19
@riazarbi we have now all this data. If you would like to help, take a look at

data/covid19za_provincial_cumulative_timeline_recoveries.csv
data/covid19za_provincial_cumulative_timeline_testing.csv
data/covid19za_provincial_cumulative_timeline_confirmed.csv

[2020-05-16 16:01] #19 closed

[2020-05-16 16:02] #31 closed

[2020-05-16 16:02] vukosim commented on #103
Thanks @webdevan

[2020-05-16 16:02] #103 closed

[2020-05-16 16:02] #55 closed

[2020-05-16 16:02] #89 closed

[2020-05-16 16:03] #123 closed

[2020-05-16 16:03] #147 closed

[2020-05-16 16:04] vukosim commented on #162
@riazarbi Is it possible to get data directly from you guys.

[2020-05-16 16:04] #191 closed

[2020-05-16 16:05] vukosim commented on #179
@Pygario We do have this data that we have collected and have ethical clearance for at the university.

[2020-05-16 16:05] #179 closed

[2020-05-16 16:06] #229 closed

[2020-05-16 16:08] vukosim commented on #194
@bmerry we will stay committed on working publicly [the dashboard on our end is not the main work but the repo itself].

[2020-05-16 16:08] #194 closed

[2020-05-16 17:18] uelsimon commented on #251
Agreed, I just reviewed the provincial provided versions of tests...and the numbers are definitely not aligned. But this is to be expected as the NICD numbers and province numbers have never fully aligned.  So it is prolly best to limit this document to NICD periodic updates.

[2020-05-16 19:51] shaze commented on #251
Let me know if you want me to do this.

[2020-05-16 20:18] Sneidon commented on #228
Please accept my apologies for the reply @rudzanimulaudzi  and @vukosim. It gapped my mind som how. It is important we translate this important data to all languages in SA.

The approach we took for Xitsonga was 1) get a go ahead from Dr. Vukosi. 2) find translations for all labels on https://dsfsi.github.io/covid19za-dash/. 3) Created graphs for free using Google data studio.

On going, we manual

[2020-05-16 20:21] uelsimon commented on #251
Please do @shaze.  Thanks in advance

[2020-05-17 15:50] Vutlhari commented on #207
@vukosim i still don’t have the invite to officially join the repo.

[2020-05-17 16:16] vukosim commented on #207
@Vutlhari  go to https://github.com/dsfsi/covid19za/invitations

[2020-05-19 05:21] Strasheim88 opened #326 "Missing JhbG key in district_gp_keys [DATA]"
## district_gp_keys.csv

## Value and key missing for JhbG in the district_gp_keys.csv dataset

## Suggested fixes
  1. Add value.

[2020-05-19 05:43] Strasheim88 opened #327 "[DATA] Wrong/missing keys in district_gp_keys.csv"
## Which Dataset
district_gp_keys.csv

## Error Description
1. Keys of Tswhane districts on gp_tshwane.csv (e.g. Tshwane 2) do not match with district_gp_keys.csv (e.g. City of Tshwane 2).
2. Ekurhuleni keys: missing key for Ekurhuleni Unallocated, and Ekurhuleni East 1 duplicated.
3. JhbG missing in keys.

## Suggested fixes
  1. Change keys to coincide with gp_tshwane.csv
  1. Add Ekurhuleni Una

[2020-05-19 05:43] #326 closed

[2020-05-19 08:33] vukosim commented on #327
Thanks. @shaze could you respond.

[2020-05-19 10:08] shaze commented on #327
Thanks for the fixes. Will fix all except removing "unallocated" from keys file as this is not a district. Happy to discuss. Please review and let me know if I missed anything or if you see anything new.

[2020-05-19 15:28] Strasheim88 commented on #327
Thank you. I would argue for including "unallocated" in keys, because in all three of the Gauteng district datasets (Johannesburg, Tshwane, Ekurhuleni) there are the 'placeholder' sub-districts for unallocated cases. If one wants to use this key file  to define the names/places for the relevant sub-district keys found in the datasets, there will be no sub-district key or value for the 'unallocated

[2020-05-20 10:04] shaunsaker opened #334 "[DATA] Cumulative deaths incorrect"
## Which Dataset

https://raw.githubusercontent.com/dsfsi/covid19za/master/data/covid19za_timeline_testing.csv

## Error Description

The [latest article on sacoronavirus.co.za](https://sacoronavirus.co.za/2020/05/19/update-on-covid-19-19th-may-2020/) states that the cumulative deaths is 312 while the above dataset has a figure of 372.

## Suggested fixes
  1. Change cumulative deaths in the above

[2020-05-20 12:15] Vitomilix opened #336 "[BUG] API Has not been updated for a month"
When trying the API, the data received is severely  out of date

**To Reproduce**
Use any of the API endpoints

**Expected behavior**
When using the `/latest-update` endpoint, the Response shows a timestamp with the date as being the 24th of April
When having a look at the stats for Gauteng, one sees that Gauteng has about 600 cases when as of 20th of May the actual number is over 2000

[2020-05-20 12:28] vukosim commented on #336
@Vutlhari please takea. looke

[2020-05-20 12:35] Vutlhari commented on #336
@Vitomilix  the value in the `/latest-update` is hardcoded. It was part of something @Remwrath was investigating.

@Vitomilix which endpoint are you calling what is returning 600 cases?
I've just tested the API `https://covid-za-api.herokuapp.com/cases/timeline/provincial/cumulative` and it's returning `2361 ` as at `19-05-2020`

![Screenshot 2020-05-20 at 14 33 18](https://user-images.githubuserc

[2020-05-20 15:51] #334 closed

[2020-05-20 15:51] vukosim commented on #334
Thank you. Fixed

[2020-05-20 18:01] shaze commented on #327
I've updated in my pull request -- as soon as accepted you should see it. Let me know if OK now.  Yes, there are no key values. Also no key values for Sedibeng and West Rand local municipalities.

[2020-05-21 04:58] Strasheim88 commented on #327
Thanks. Can you include a name or description of some sort in the value field for the unknown (e.g. 'Ekurhuleni Unknown'), Sedibeng and West Rand keys? This would coincide with the practice on the Western Cape's keys for the unknown key (https://github.com/dsfsi/covid19za/blob/master/data/district_data/district_wc_keys.csv). I am using these lists as a form of Master Data for the keys to retrieve

[2020-05-21 05:08] Strasheim88 opened #339 "[DATA] Date error on gp_tshwane.csv"
## Which Dataset
covid19za/data/district_data/gp_tshwane.csv

## Error Description
Date field error for 04 May 2020 - currently: "04-05-20220"

## Suggested fixes
  1. Change to "04-05-2020"

[2020-05-21 13:57] shaze commented on #339
Thanks -- have fixed. Should propagate later tonight

[2020-05-21 13:58] shaze commented on #327
Please have a look at https://github.com/shaze/covid19za/blob/master/data/district_data/district_gp_keys.csv
before I do a pull request

[2020-05-22 04:02] Strasheim88 commented on #327
Thank you. One last thing, could you add the name of the relevant district next to 'unknown' in the description, e.g. 'Ekurhuleni Unknown'. Otherwise there is no way of knowing which 'Unknown' you are looking at when only using the value.

[2020-05-22 19:10] shaze commented on #251
I have been doing this but there seems to be a duplication between this
https://github.com/dsfsi/covid19za/blob/master/data/district_data/provincial_testing_data.csv

and

https://github.com/dsfsi/covid19za/blob/master/data/covid19za_provincial_cumulative_timeline_testing.csv

There seems to be duplication between what I am doing and what @lrossouw is doing. We should only have one. Some overlaps

[2020-05-22 19:53] lrossouw commented on #251
I had not seen the provincial table in the district folder.  I also think there are provincial data released sporadically by each province vs. provinical data release by NICD on (possibly) on a weekly basis.

I had not committed to updating it but did commit some numbers when I saw them.  I would say the right place for data released nationally for provinces would be `data/covid19za_provincial_cum

[2020-05-23 06:12] shaze commented on #251
Agreed-- I think  @vukosim should make a call here.

I think we should avoid ad hoc release of data by individual provinces because it makes it very hard to compare across provinces (or rather if there is there is a province that releases this daily then there should be a separate file for it). And I think we should avoid secondary sources using only official resources like NICD or one of the depa

[2020-05-23 08:14] Olivyf opened #346 "[DATA] Case fatality rate formula is misleading"
## Which Dataset
Case Fatality Rate is currently calculated as
(Total Deaths) / (Total Positive Cases)

## Error Description
The faster the infection rate accelerates the lower the calculated fatality rate, because it takes weeks before new cases results in 1. Fatality  or 2. Recovered.
Hence fatality rate is understated because it is compared against undetermined cases. (Open cases)
Thus the publ

[2020-05-23 09:56] vukosim commented on #346
Can you provide any literature to assist in this change @Olivyf?

 Currently, the rate used is so that you can compare across countries even with the [shortcomings](https://www.thelancet.com/journals/laninf/article/PIIS1473-3099(20)30246-2/fulltext). Making the change, we will then have to list as something else, not as case fatality rate. We can rename to Observed Case Fatality Rate if that makes

[2020-05-23 10:26] #339 closed

[2020-05-24 06:20] shaze commented on #251
@vukosim @lrossouw @SimonRosen173  I agree with @lrossouw  We don't want to duplicate work and I don't think we should have the same data in two different places as it is confusing and hard to maintain. Unless there are objections, I suggest to delete `https://github.com/dsfsi/covid19za/blob/master/data/district_data/provincial_testing_data.csv` and   that we should adopt `covid19za_provincial_cum

[2020-05-24 06:25] shaze commented on #346
For my 2c it  may be worth showing both. Looking at the daily data it seems to me like the recoveries data is the noisiest and without knowing the local processes of reporting this we should not over interpret these rates at a daily level while the epidemic is going on. The formula @Olivyf suggests may be an overestimate because as deaths are likely to be reported faster than recoveries. It would

[2020-05-24 15:45] vukosim commented on #346
The reporting of recoveries is slower and erratic so that's why I am concerned. Thanks for your thoughts @shaze

[2020-05-24 21:28] JemLukeBingham commented on #237
@vukosim certainly, thanks

[2020-05-25 07:09] shaze commented on #346
I think keeping consistency with what other people do is paramount and we shouldn't relabel something that other people have used. But I think there is value in having both. I would suggest as the new one "Reported Resolved Case Fatality Rate". A bit klunky I know. And then explaining in the README

[2020-05-25 07:33] vukosim commented on #336
@Vitomilix Are you okay with this?

[2020-05-26 13:43] vaibhavijames commented on #115
Hello! I saw that help is wanted for this project, and I was wondering if there's anything I can help out with? I have experience with data analysis and some intermediate programming as well. Let me know what I can do!

[2020-05-26 15:32] elolelo commented on #115
Hello @vaibhavijames

Thanks for offering to help. I suggest that you start by  getting a sense of where we are going with this issue from this [blog post](https://dsfsi.github.io/blog/mapping-healthsystem/).

Right now the main thing that we are  still  working on  is data collection, so we can complete atleast this [main](https://github.com/dsfsi/covid19za/blob/master/data/README_hospital_data.m

[2020-05-27 02:52] vaibhavijames commented on #115
Sounds good! I can work on that. Glad I can help!

[2020-05-27 06:48] Strasheim88 commented on #327
Seems perfect now, thanks @shaze.

[2020-05-27 06:48] #327 closed

[2020-05-27 10:03] Strasheim88 opened #368 "[Feature] district_lp_keys.csv - Link between municipality key and district key"
**Is your feature request related to a problem? Please describe.**
Currently, there are two region levels in this key file, namely district keys (e.g. DC33 - Mopani) and own level lower, namely municipality keys (e.g. LIM334 - Ba-Phalaborwa). There is no link between the two levels, which makes it difficult to roll up or drill down.

**Describe the solution you'd like**
- Add a field that defines

[2020-05-27 12:56] JosephSefara commented on #368
Familiarise yourself with official [MDB](http://www.demarcation.org.za/site/) naming. The mapping between province to district to municipality to ward can be found from the MDB. Luckily see this [file](https://github.com/dsfsi/covid19za/blob/master/data/district_data/LM_2018.csv) for mappings. Column CAT_B is a municipality and column DISTRICT is a district.
To answer your 1st feature
- _Add a fie

[2020-05-27 13:06] Strasheim88 opened #369 "[DATA] Date error on provincial_nw_cumulative.csv"
## Which Dataset
covid19za/data/district_data/provincial_nw_cumulative.csv

## Error Description
12 May 2020 is duplicated.

## Suggested fixes
  1. Put in correct date in first instance.

[2020-05-27 13:42] Strasheim88 opened #370 "[DATA] GP District Datasets - column heading changes and key mismatch"
## Which Dataset
covid19za/data/district_data/gp_ekurhuleni.csv
covid19za/data/district_data/gp_johannesburg.csv
covid19za/data/district_data/gp_sedibeng.csv
covid19za/data/district_data/gp_tshwane.csv
covid19za/data/district_data/gp_westrand.csv

## Error Description
Column headings were changed and now do not match with keys on district_gp_keys.csv

## Suggested fixes
  1. Change column headings

[2020-05-27 13:44] shaze commented on #370
Sorry being changed as result of another thread. I'll try to fix when I push today's data

[2020-05-27 13:44] Strasheim88 commented on #368
Perfect, thank you! Thanks for pointing that out.

[2020-05-27 13:44] #368 closed

[2020-05-27 15:32] shaze commented on #370
Can we discuss this -- the district names do match (at least most do I could have missed one) but there is multiple data here.

So for example we have "Johannesburg A Cases" and "Johannesburg A Recoveries"
(There is a space between Johannesburg and A and a tab between A and Recoveries) and similarly with the others).

I am bringing @heerden in on this too since I broken some of his scripts too and

[2020-05-27 18:35] heerden commented on #370
We agreed to update the `GP Total` header in the previous thread. I am not going into a discussion on the spaces between titles again. It is fine with me if we design freeze now.

[2020-05-28 04:53] shaze commented on #370
I have pushed the figures from yesterday through. I've been through the labels to try to ensure consistency. Please let me know of any outsanding issues.

[2020-05-28 08:34] Strasheim88 commented on #370
I see. I will adapt my script to take space vs tab logic into account.

[2020-05-28 08:34] #370 closed

[2020-05-28 08:56] richardyoung00 opened #373 "[DATA] Date error in covid19za_provincial_cumulative_timeline_testing.csv"
## Which Dataset
covid19za_provincial_cumulative_timeline_testing.csv

## Error Description
YYYMMDD column is incorrect for date 09-05-2020. The month and day are swapped around.

## Suggested fixes
change 20200905 to 20200509

[2020-05-28 09:52] vukosim commented on #373
Thank you. Fiexed

[2020-05-28 09:52] #373 closed

[2020-05-28 13:35] akbarganey commented on #369
How can I assist? I am new here

[2020-05-29 08:09] vukosim opened #379 "[Feature] Data prep for decision making triage information"
**Is your feature request related to a problem? Please describe.**

If taking an example of this dashboard https://covidactnow.org/us/nj?s=37528, one can see useful triage information for decision making.

![image](https://user-images.githubusercontent.com/836223/83236747-4bf80a80-a194-11ea-8869-fd0de756f3ba.png)

**Describe the solution you'd like**
Breakdown all the data that is needed to do suc

[2020-05-29 08:10] vukosim commented on #369
@akbarganey You can look at files that might be stale and work to update them. Note the main README.md. If you have any problems, let me know.

[2020-05-29 08:11] vukosim opened #380 "[Feature][Dashboard] Error bars for realtime rt"
Self-explanatory.

[2020-05-29 08:33] bmerry commented on #379
I haven't been keeping up with this project for a while, so I don't know what data we have and what the DoH is providing. If you are able to get more data into the repository I can help a bit with the plumbing to make it available through the JSON API.

[2020-05-29 09:41] shaze commented on #379
I think you'd need to be careful with this depending on the quality of the data that comes through. There are two types of testing done : "passive testing" people who think they are sick or may have been exposed come for a test and community based testing (and there are different types) which is actively searching for cases. The levels of positivity are very different (much higher in the former).

[2020-05-29 14:01] andrealouw opened #382 "Missing data for 2020-05-28 in covid19za_provincial_cumulative_timeline_recoveries.csv"
The data is available in [tweet](https://twitter.com/COVID_19_ZA/status/1266131226135597057/photo/2)

[2020-05-29 16:27] chadwpetersen commented on #382
Let me provide a PR for this @vukosim.

[2020-05-29 16:31] chadwpetersen commented on #382
@vukosim -> this updates the recoveries data #384.

[2020-05-29 16:55] #382 closed

[2020-05-31 07:31] MikeMcMalace commented on #379
The type of data that should be included in the visualisation, should include a few variables that are not currently in there.
- the field beds and their location;
- isolation zones;
- COVID-19 ready hospitals; and
- Sub-district specific hotline numbers that the public can phone should they have a COVID-19 emergency.

In addition to this, information related to protection services may also be of

[2020-05-31 18:27] chadwpetersen opened #390 "[Feature] Process consideration to keeping consistent data formatting"
**Is your feature request related to a problem? Please describe.**

CSV file header changes can cause some issues with services that rely on the provided CSV formats provided by this awesome repo. This might break some downstream services that are expecting data in a specific format -i.e. data in a particular column index and maybe even having particular column header names.

To help ensure data g

[2020-05-31 19:51] vukosim commented on #390
Just for context, for the district and sub-district data, there was a question of creating a consolidated file that has all of the entries in a standard format by the demarcation board. This might be a good place to pick this up. If we can automate that conversion to have that single file that could be a good thing. We can then phase out the use of any names and use key files to reconcile. Thought

[2020-05-31 20:06] shaze commented on #390
Does anyone have an example of the demarcation file.

I agree with the proposals of @chadwpetersen though we really want to discourage it. Sometimes it is forced on us. For example Ekurhulieni was releasing Ekurhuleni East and North and then split them into East 1 and East 2

[2020-05-31 20:20] vukosim commented on #390
See the example of the Limpopo districts file. @JosephSefara has been using the demarcation names.

[2020-05-31 20:21] vukosim commented on #390
Also forgot @shaze we have the 2018 Demarcation key in https://github.com/dsfsi/covid19za/blob/master/data/district_data/LM_2018.csv

[2020-05-31 20:32] shaze commented on #390
Great -- this is a coarser level than we are reporting. The main issues have been at sub-municipality issue.  I've had a quick look at the Demarcation Board web site -- can't see a convenient spreadsheet at lower level -- there are maps.

[2020-06-01 07:04] JosephSefara commented on #390
@shaze You are referring to wards (is a sub-municipality) or subplaces (like suburbs) ?

[2020-06-01 11:47] shaze commented on #390
There are three levels of sub-municipality data that I have seen
-- a suburb
-- a ward --
-- region -- e.g. Ekurhuleni North 1

Regions are a collection of wards for sure. I think wards are generally collection of suburbs but looking at the maps I have of my neighbourhood, I'm not 100% sure that this is 100% followed.

[2020-06-02 06:45] #380 closed

[2020-06-02 08:57] chadwpetersen commented on #390
I think the demarcation key will help with standardising the district column names I think that is a good idea. Might be worth-while then to standardise the the cases details part -`total cases`, `recoveries`, `deaths`? Seems like not all files have them defined in the same columns with the same column names.

[2020-06-03 07:19] vukosim commented on #228
@rudzanimulaudzi Can you respond.

[2020-06-03 07:20] vukosim commented on #243
NICD has increased the amount of reports available. We need some help to see what might be useful.

https://www.nicd.ac.za/diseases-a-z-index/covid-19/surveillance-reports/

[2020-06-04 05:59] #369 closed

[2020-06-04 06:01] vukosim commented on #390
@heerden can you help with your inputs

[2020-06-04 06:06] Strasheim88 opened #405 "[DATA] Cape Winelands - Breede Valley - Confirmed Cases wrong (since 01 June)"
## Which Dataset
covid19za/data/district_data/provincial_wc_cumulative.csv

## Error Description
The number of confirmed cases for Breede Valley (Cape Winelands), with key = CW-BV, does is incorrect (way too high) form 01 June 2020. Compared with official information on Western Cape government website.

## Suggested fixes
  1. Fix data.

[2020-06-04 11:31] Fiersuil opened #407 "Secondary Axis for Deaths"
Showing the deaths on the same axis as recoveries, hides the trend in deaths. It would make more sense to move it on to a secondary y-axis, either along with recoveries or more appropriately, along with the total infections.

[2020-06-04 11:48] vukosim commented on #407
@Fiersuil please see the change. Close the issue if happy.

[2020-06-04 11:53] Fiersuil commented on #407
Geez, I've never seen service like this before.

Well done!!

On Thu, 4 Jun 2020 at 13:49, Vukosi <notifications@github.com> wrote:

--
*Johan le Roux*
*Rational Expectations*

mobile: +2773 200 3588

102 Buitenkloof Studios, 8 Kloof Street, Cape Town, 8001
skype: jpdp.le.roux
johan@rational.co.za / www.rational.co.za <johan@kalander.co.za>

[2020-06-04 11:53] Fiersuil commented on #407
Amazing service, thanks.

[2020-06-04 11:53] #407 closed

[2020-06-05 05:49] Andre4limehosting opened #413 "[DATA]"
## Which Dataset
provincial_GP_cumilative.scv

## Error Description
Total GP last 2 numbers are swapped 4576 instead of 4567
from data
3/6/2020 | 20200603 | 937 | 2175 | 108 | 570 | 411 | 366 | **4576**

## Suggested fixes
4567

[2020-06-05 06:27] vukosim commented on #413
Fixed.

[2020-06-05 06:27] #413 closed

[2020-06-05 13:56] rudzanimulaudzi commented on #228
Hi Dr. Vukosi, for some reason I missed the response from @Sneidon. I am keen, sounds like it's just manual updates of labels then recreating graphs with data studio.

I can on Sunday and probably complete it the weekend that follows or on the 16th of June.

@vukosim are you able to send me a "copy" of the data studio site (does google allow that?) that I can update? trying to take the next steps.

[2020-06-05 14:59] Sneidon commented on #228
@rudzanimulaudzi let me help with the data studio part. Just send a meeting request for any day, it shouldn't take 30 min to setup.

[2020-06-05 15:36] rudzanimulaudzi commented on #228
Great, thanks @Sneidon . I got your email address.

[2020-06-06 10:01] heerden commented on #390
My thoughts have settled on all the great suggestions in this thread.

I have a few practical steps we can start with, that will lead to a governable specification for data consistency for existing district data, future modifications and any districts we need to onboard.

The Readme in the data/district_data should define everything we agree on here.

A combine key file should then reflect the tit

[2020-06-07 18:02] bruc314 opened #423 "[BUG]"
Hi,

Thanks for all the work...and apologies for complaining but  I am concerned that the errors on Rt predicted by this method are too small. Currently the dashboard claims we know the upper bound on Rt in the WC to better than 10% right now... which is implausible given the known issues with testing.

Fundamentally I am not sure the Bettencourt et al formalism makes sense for a time-dependent Rt

[2020-06-08 08:09] vukosim commented on #423
Thanks @bruc314

Will engage.

[2020-06-08 08:16] vukosim commented on #390
Hey @chadwpetersen and @shaze please take a look at the pull request.

[2020-06-09 05:25] #405 closed

[2020-06-09 16:05] DevNelz commented on #115
Hello everyone, I am Nelisiwe currently working on ‘updating the population of districts per province’, Nompumelelo referred me to the necessary csv files. I am also supporting HSRC with data collection on a broader context.

[2020-06-09 16:13] vukosim commented on #115
Welcome @DevNelz.

[2020-06-09 16:17] DevNelz commented on #115
@vukosim thank you.

[2020-06-09 17:54] vaibhavijames commented on #243
Hi Dr. Marivate,

I have gone through the NICD reports and drafted a summary of the data they contain on Google Docs. I have the Doc linked, and I also have attached a PDF version.

Is this format helpful, or should I organize the data in another way?

Thank you!

[https://docs.google.com/document/d/1dfiZAhYE_TuycbydIsPobFld5VVN2qJq0b97q9xzAUk/edit?usp=sharing](url)

[NICD report summary.pdf](http

[2020-06-10 21:19] lethabo24 opened #436 "[DATA] population statistics error"
## Which Dataset
The za_province_pop

## Error Description
The Gauteng and NorthWest populations do not correspond to the National Statistics PDF document

## Suggested fixes
  1.
  1.
  1.

[2020-06-11 08:54] shaze commented on #436
Thanks -- I see digits transposed in the Northwest figures, but can't see the problem in Gauteng: 15176115 corresponds to Figure 1 on page vi. Could you elaborate please.

[2020-06-11 11:52] 18306063 commented on #436
Good Day

The SA Stats document in the appendix  notes the Gauteng Population as 15176116.

Kind Regards
Lethabo Maluleke

-------- Original message --------
From: Scott Hazelhurst <notifications@github.com>
Date: Thu, Jun 11, 2020, 10:55 AM
To: dsfsi/covid19za <covid19za@noreply.github.com>
Cc: "Maluleke, LM, Miss [18306063@sun.ac.za]" <18306063@sun.ac.za>, Author <author@noreply.github.com>
Subj

[2020-06-11 12:12] vukosim opened #438 "[Feature] Local health facilities"
Bridging from #115

**Is your feature request related to a problem? Please describe.**
Is it possible to have local data of clinics and hospitals for all of Gauteng and Limpopo, broken down by districts, private vs public facilities etc.?

@DevNelz do we have clinic information?

[2020-06-11 12:14] vukosim commented on #436
Thanks @18306063

@shaze we also have the statssa midyear estimates now in the staging area folder. We might want to just make a choice on where to put that, maybe

data/official_statistics/

[2020-06-11 12:28] shaze commented on #436
OK -- the one in data/district_data has been there longer so there may be scripts dependant on it. But easy to change so it is more important to have it in the right logical place so I have no objection moving or replacing it

But if using the new file I think needs to be made program friendly -- if you read in with Pandas it seems the columns as text by default, and even harder to handle if not u

[2020-06-11 12:35] vukosim commented on #436
@elolelo Can you comment.

[2020-06-11 12:38] shaze commented on #436
Hi Lethabo

Thanks -- it seems that they've slightly contradictory figures in the same document. Fortunately only off by 1 so way below any error mark (also adding the provincial figures does not give the total figure so we can't check that way to find which is correct)

The NW error is definitely wrong. Will push with today's figures

Will fix  and push in few minutes

[2020-06-11 12:47] elolelo commented on #436
So, the Gauteng value in question can be found in [this file](https://github.com/dsfsi/covid19za/blob/master/data/staging_area/statssa-summary-2019-midyear.csv) , a breakdown of that figure can be found on [this one](https://github.com/dsfsi/covid19za/blob/master/data/staging_area/statssa2019mid-year-estimates.csv)

[2020-06-11 12:56] elolelo commented on #436
I am not sure  to what extend are these new files program friendly. They may be changed if necessary.

[2020-06-11 13:02] elolelo commented on #438
@vukosim we are likely  to  not have private clinics but the Data Dictionary should have public clinics   sorted in districts.

[2020-06-11 15:14] shaze commented on #436
Thanks. Ideally they must be computer-readable -- Pandas is the most flexible so readable by Pandas is essential.
- No spaces in numbers
- Use decimal points not commas

Also for the age break down file, I think having 5 provinces followed by 4 provinces is very difficult fo a computer to follow.

Two possible formats are below. My preference would be for 1 though 2 is what we're doing in other pl

[2020-06-11 15:37] DevNelz commented on #438
Hi @elolelo and @vukosim
@vukosim , these are the files I am working on health_system_za_hospitals_v1 and population-estimates-districts. On these files no clinic information exists. Except for the information which is highlighted in the Main Health care Services Offered column. I am done actually. Just need to check and will push the changes.

[2020-06-11 17:54] vukosim opened #441 "[Feature] Adopt the COVID-19 Death Statistics File"
**Is your feature request related to a problem? Please describe.**
We need to now keep track of the death age frequency table and gender splits.

**Describe the solution you'd like**
I have started a file that needs to have someone update and also fill historical information.

https://github.com/dsfsi/covid19za/blob/master/data/covid19za_timeline_death_statistics.csv

[2020-06-11 17:56] vukosim commented on #243
Thanks @vaibhavijames, you might want to look at https://github.com/dsfsi/covid19za/blob/master/data/nicd_daily_national_report.csv to be the place we put the daily report numbers.

[2020-06-11 18:07] vaibhavijames commented on #243
Sure, @vukosim I will start working on that

[2020-06-12 11:33] DavidPhillpotts opened #443 "[BUG] Incorrect trend types and colours"
Issue: On the main page, the 'daily positive cases', and 'tests per day' have linked (with a line) data points. This is incorrect as there is no continuum between these data points. The number of tests on one day does not affect the number on another.
Suggested Fix: Use unlinked data points or bars

Issue: Conversely, the 'total tests performed' is shown as discrete bars. There is a continuum betw

[2020-06-12 15:11] #443 closed

[2020-06-12 17:17] D1ng3r opened #444 "[Feature]"
Would it be possible to do a diagnoses by test graph for each province.  There is a unequal distribution which provinces are running active screening in communities.  The current data give the impression that the Western Cape has a lot more positive cases, which is true, but it would be useful to  see how many cases per patient screen broken down into provinces

[2020-06-12 17:30] vukosim commented on #444
@D1ng3r We need to update this file, https://github.com/dsfsi/covid19za/blob/master/data/covid19za_provincial_cumulative_timeline_testing.csv

If you can help chase down the numbers, and we can have more constant updates, we can then add it .

[2020-06-14 12:37] 18306063 opened #448 "[DATA] NW NC swap"
## Which Dataset
provincial_cumulative_timeline_recoveries

## Error Description
The values for Northern Cape and Northwest recoveries are swopped around and don't correspond to the NICD stats.

## Suggested fixes
  1.
  1.
  1.

[2020-06-14 12:44] shaze commented on #448
Underlying problem I think is that the abbreviations NC and NW are in reverse lexicographic order to Northern Cape and North West Province.

[2020-06-16 06:21] D1ng3r opened #458 "[BUG]"
**Describe the bug**
The total daily positive cases and daily positive cases are the graph y=0 and x=0

**To Reproduce**
![coviderror](https://user-images.githubusercontent.com/4225972/84738541-614da100-afaa-11ea-8dd3-cdff023f333d.png)

open the website and look at the variable / graph description above

**Expected behavior**
dyamic graph showing values of total positive cases in general and by pr

[2020-06-16 06:44] vukosim commented on #458
Thanks @D1ng3r some formatting issue on the ingestion engine.

[2020-06-16 06:44] #458 closed

[2020-06-16 06:45] vukosim commented on #448
Thanks for this. Will work on to resolve. @18306063

[2020-06-16 21:19] rudzanimulaudzi commented on #228
Thanks Dr. Vuko & Sneidon.

Will "launch" the dashboard tomorrow: https://rudzanimulaudzi.github.io/covid19/

[2020-06-19 06:14] vukosim commented on #228
Thanks @rudzanimulaudzi and @Sneidon

Closing this as we now have http://luvenda.com/covid/

[2020-06-19 06:14] #228 closed

[2020-06-19 06:23] Sneidon commented on #228
@rudzanimulaudzi congrats and thanks @vukosim.

[2020-06-22 11:30] chadwpetersen commented on #448
This a good clean up -however, making this change could potentially break downstream services that are naively using column order instead of csv headers. I doubt it would be a major issue but just noting the associated risk with this change :).

Making this change will also make capturing the data a bit easier as well as decrease the risk of capturing wrong data as this has happened before a few t

[2020-06-22 11:37] chadwpetersen commented on #448
I could build a quick go/python tool that can swop two columns in a csv file -just incase we might want to do this again at some point? That way we eliminate any data issues we could introduce during the data swopping process and swopping back in case of an issue would be simple as well.

[2020-06-23 04:42] vukosim commented on #243
@vaibhavijames if that daily report can updated at least once a week, that will be great.

2 can we start view digitising the hospitalisation report

[2020-06-24 09:00] vukosim commented on #448
Think we can and will fix anything on our dashboard that might use it @chadwpetersen

[2020-06-24 21:31] vaibhavijames commented on #243
@vukosim Sure, I'll maintain the daily report csv. I'll also start a file for the hospital report data.

[2020-06-25 06:23] lizelgreyling opened #487 "Testing equipment data [Feature]"
Would it be possible to keep track of the ratio of public versus private testing numbers? I work with a group that is tasked with increasing testing capability.  The private and public labs use different equipment, and we are trying to determine the ratio of testing taking place between the different types of equipment. I can provide more detail privately if necessary.

[2020-06-25 07:09] vukosim commented on #487
Would this help, https://github.com/dsfsi/covid19za/blob/master/data/nicd_daily_national_report.csv

We just need a few volunteers to keep it going.

[2020-06-25 07:54] lizelgreyling commented on #487
@vukosim Yes! This is exactly what we are looking for.

[2020-06-25 08:36] vukosim commented on #487
@lizelgreyling could you coordinate with @vaibhavijames on this. Is there a possibility to hunt out other testing information that could be added and some people on your side who can help with updating?

[2020-06-25 09:12] lizelgreyling commented on #487
@vukosim There are definitely no other people that can help with updating - I am the volunteer data analyst, so all data-related work is done by me. Having said that, I suppose I might as well volunteer to do the updating - that strategy worked well enough with the Mpumalanga district data ;-). Looking at the url for the testing data, it looks like it is specifically limited to national level data

[2020-06-25 09:12] lizelgreyling commented on #487
@vaibhavijames: are you normally updating this dataset?

[2020-06-25 11:54] lizelgreyling opened #490 "Mpumalanga district data not updating on dashboard[BUG]"
Despite the Mpumalanga district data being updated every day on https://github.com/dsfsi/covid19za/blob/master/data/district_data/provincial_mp_cumulative.csv, the dashboard graphs (https://datastudio.google.com/u/0/reporting/1b60bdc7-bec7-44c9-ba29-be0e043d8534/page/pCPSB) only show Mpumalanga district data up to 14 June. Is there a problem in the district data file that I can fix to allow the up

[2020-06-25 12:03] vukosim commented on #490
Looking into it @lizelgreyling

[2020-06-25 12:10] vukosim commented on #490
Take a look @lizelgreyling was an issue with Google Sheets.

[2020-06-25 12:14] lizelgreyling commented on #490
@vukosim Great, thanks!

[2020-06-25 12:15] #490 closed

[2020-06-25 13:48] vaibhavijames commented on #487
Hi @lizelgreyling, yes, I have been updating that data. I think there might be some NICD reports with the provincial data- I'll see if I can find some of that for you.

[2020-06-25 15:02] vaibhavijames commented on #487
@lizelgreyling Check out these reports and see if they have the information you need. The Weekly Testing Summary reports at the bottom have some testing data by province, so they might be helpful. The Private Consultation reports should also have some private testing data.

Let me know what else I can do!

https://www.nicd.ac.za/diseases-a-z-index/covid-19/surveillance-reports/

[2020-06-25 15:03] vaibhavijames commented on #487
Here's a sample of the Weekly Testing Summary

https://www.nicd.ac.za/wp-content/uploads/2020/06/NICD-COVID-19-Testing-Summary_-Week-24-2020-Final.pdf

[2020-06-26 11:25] mdwynn opened #497 "provincial_wc_cumulative [BUG]"
## Which Dataset
covid19za/data/district_data/provincial_wc_cumulative.csv

## Error Description
The data has not updated since 19 June 2020, despite there still being an "Update on the coronavirus by Premier Alan Winde" released daily.

## Suggested fixes
  1. Unsure, as the format of the updates appears to be the same.
  1.
  1.

[2020-06-27 07:49] lizelgreyling commented on #487
@vaibhavijames Thank you! This is very useful.

[2020-06-29 05:52] vukosim commented on #487
@lizelgreyling please see the data that @vaibhavijames put up nicd_hospital_surveillance_data.csv

You might want to update the adoption file so that we know who is updating one. @vaibhavijames Great work.

[2020-06-29 15:22] vaibhavijames commented on #487
Thank you @vukosim ! I will keep working on extracting the data from the NICD reports. I'll see if I can get some of the provincial testing data into a csv

[2020-06-29 16:05] lizelgreyling commented on #487
Thanks @vaibhavijames! I will stop updating now.

[2020-06-30 10:00] dmackie commented on #497
@vukosim and @naturofix: I have code that scrapes the WC update pages and can give me back a line to add to the file.  I am willing to update this file tonight if you want?

[2020-06-30 11:21] vukosim commented on #497
@dmackie Thanks for that. That may allow us to automate then nightly. @naturofix are you okay with that? So if you make it a script that we can use that.

[2020-07-01 20:29] dmackie opened #521 "[Feature] Add test to check format and totals of CSV files on pull-requests"
**Is your feature request related to a problem? Please describe.**
It is pretty easy to accidentally commit a CSV that breaks where a comma may be left off or one of the values have a transposed digit.

**Describe the solution you'd like**
An automatic test is run on pull requests that confirms the CSV is formatted correctly, and that all the values add up to the total as a checksum.

**Describe a

[2020-07-02 05:44] vukosim opened #522 "[Feature] Add a new Rt notebook with MCMC"
Bring in this Rt estimate https://github.com/k-sys/covid-19/blob/master/Realtime%20Rt%20mcmc.ipynb

Also check https://github.com/rtcovidlive/covid-model/blob/master/rtlive-model.ipynb

[2020-07-02 05:45] vukosim commented on #522
@heerden could you assist and just have a 2nd rt file just denoted that it is using MCMC

[2020-07-02 05:46] vukosim commented on #521
@dmackie do you have any dummy code we can try out or a dummy process?

So what happens, a pull request comes through, what tests run and what gets added to the pull request to show things are okay?

Is this possible in Github with actions?

[2020-07-02 20:37] dmackie commented on #497
@vukosim and @naturofix: The script has to be given the URL of the page to get the data from so it's not something that can be scripted currently as it cannot find the correct page to fetch.  When I upload the code I will let you y'all know.

[2020-07-02 21:03] heerden commented on #522
@vukosim very excited that they released an updated MCMC model. I will review it this weekend but have a few initial questions.

To match the US Covid Tracking Project `daily` data set to our SA data sets, can you confirm if these fields represent the same meaning?
US `positive` -> `total` (covid19za_provincial_cumulative_timeline_confirmed)
US `total` -> `cumulative_tests` (covid19za_timeline_tes

[2020-07-05 07:16] #497 closed

[2020-07-06 05:55] heerden commented on #522
@vukosim The draft is available on my fork
https://github.com/heerden/covid-model/blob/master-za/rtlive-model-za.ipynb. Will format for export and add all the model files to our repo later in the week.

With the new model Rt seems very constant at 1.2 for the last month.

[2020-07-09 00:08] reeshmabijosh opened #542 "Metadata Update"
Hello,
Your dataset was added to CoronaWhy (https://www.coronawhy.org/) Data Lake on Dataverse as a piece of common COVID-19 data https://datasets.coronawhy.org/dataset.xhtml?persistentId=doi:10.5072/FK2/6PBQY0
Would you be willing to help with the maintenance of your dataset in Dataverse, e.g. adding the relevant metadata and keeping the dataset up-to-date? That will help to make the dataset find

[2020-07-13 19:14] #251 closed

[2020-07-13 19:16] vukosim opened #558 "[Feature] Adopt KZN District Sheet"
We need some help filing in and keeping up with KZN district numbers.

This is adopting this file https://github.com/dsfsi/covid19za/blob/master/data/district_data/provincial_kzn_cumulative.csv

You can use the KZN Health twitter account for source of historical data https://twitter.com/kznhealth/

[2020-07-14 11:06] vukosim opened #561 "[Feature] Adopt Northern Cape District Sheet"
We need some help filling in and keeping up with NC district numbers.

This is creating and adopting the file https://github.com/dsfsi/covid19za/blob/master/data/district_data/provincial_nc_cumulative.csv

See this folder for the other provinces https://github.com/dsfsi/covid19za/tree/master/data/district_data and how you can create the file for NC

You can use the NC Health twitter account for so

[2020-07-14 11:10] vukosim commented on #542
@reeshmabijosh Please remove the data as we already have the data on Zenodo, unless you replace the DOI with the Zenodo.

Zenodo https://zenodo.org/record/3938381

[2020-07-14 11:10] vukosim commented on #542
Please remove the same from the covid19africa data. Both READMEs explain that the data is already in an archive.

[2020-07-14 16:28] heerden commented on #390
@shaze you mentioned you have a new "recovery" column for the GP districts. You can add them to the key file, which is a data column key file.

[2020-07-15 07:24] richardyoung00 commented on #561
The NC data should also include a YYYYMMDD column to be consistent with the other files.

[2020-07-15 08:04] vukosim commented on #561
@richardyoung00 yes.

[2020-07-15 09:59] danievanmopanie commented on #561
Hi @vukosim,

Glad to volunteer!  I am a resident of the Tsantsabane LM (Postmasburg).

[2020-07-15 10:15] vukosim commented on #561
Thanks @danievanmopanie, please do add that extra column.

[2020-07-15 16:12] shaze commented on #390
Yes, I will. First I want to add "Deaths" though which we have in the data but not in the keys

[2020-07-16 08:19] danievanmopanie commented on #561
Can we close this issue?

[2020-07-16 08:40] #561 closed

[2020-07-18 15:45] h-ndre opened #573 "[DATA] Data for Bojanala district and Dr Kenneth Kaunda district in North West is swapped around"
## Which Dataset

https://github.com/dsfsi/covid19za/blob/master/data/district_data/provincial_nw_cumulative.csv

## Error Description
The number of cases for Bojanala district and Dr Kenneth Kaunda in North West is swapped around.

https://twitter.com/NorthWestDOH/status/1284388516902862850/photo/1

## Suggested fixes
  1. Swap headings
  1. Swap data
  1.

[2020-07-20 08:57] SimonRosen173 opened #580 "[DATA] Incorrect value in date column for provincial_gp_cumulative.csv and gp_*.csv"
## Which Dataset
 - provincial_gp_cumulative.csv
 - gp_*.csv's

## Error Description
Last field in date column is incorrect. It is 18-07-2-2- on 18-07-2020.

## Suggested fixes
  1. Change field to 18-07-2020.

[2020-07-20 11:43] vukosim commented on #542
@reeshmabijosh Can you please respond and update

[2020-07-20 15:44] theauheral commented on #580
Same issue here :)

[2020-07-20 16:34] shaze commented on #580
I've pushed through today's figures with the corrections. Apologies for any inconvenience. Let me know if there are any other open issues.

[2020-07-20 17:17] theauheral commented on #580
Thank you very much!! :)Théau Héral    On Mon, Jul 20, 2020 at 5:34 PM Scott Hazelhurst <notifications@github.com> wrote:I've pushed through today's figures with the corrections. Apologies for any inconvenience. Let me know if there are any other open issues.—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-20 20:05] reeshmabijosh commented on #542
Hello Vukosi,
Sorry for the late reply.
Can you please contact  goncharova.kira@gmail.com. I do not have permission
to update the dataset.

Thank You
Reeshma.K

On Mon, Jul 20, 2020 at 7:43 AM Vukosi <notifications@github.com> wrote:

[2020-07-21 08:01] andrealouw opened #583 "[DATA] Western Cape total cases on 2020-07-19 has been updated."
## Which Dataset
https://github.com/dsfsi/covid19za/blob/master/data/covid19za_provincial_cumulative_timeline_confirmed.csv

## Error Description
Western Cape data is incorrect for 2020-07-19.
The cumulative cases seem to decrease between the 19th and the 20th of July.

## Suggested fixes
Link to updated Western Cape figures for 2020-07-19, along with the data error explanation.
https://coronaviru

[2020-07-21 08:05] horscroft-swish opened #584 "[Possible data error] Cumulative graphs for WC have decreased 19th->20th July"
In the WC dashboard, the latest tick of data has seen a decrease in the WC numbers (Jul 19: 85,926 to Jul 20: 85,772). The "total cases" value remains at  85,926.

Is this a known error in the data/previously reported numbers? Or am I under the wrong impression that these numbers should never decrease as they are cumulative?

[2020-07-21 08:29] andrealouw commented on #584
suggested fix:
https://github.com/dsfsi/covid19za/issues/583

[2020-07-21 08:41] lrossouw commented on #583
Yeah I noticed the issue last night, but wasn't sure how to correct.  I can spread the correction over the last week as an approximation because Winde indicates that:

So the correction needs to be spread over 7 days to 20 Jun is my interpretation?  Thoughts?

[2020-07-21 08:44] horscroft-swish commented on #584
Closing in favour of linked fix.

[2020-07-21 08:44] #584 closed

[2020-07-21 08:45] horscroft-swish commented on #583
Is it possible to annotate data points with unique info? Maybe spreading the correction retroactively isn't the right goal if a note can be added on the downwards data point indicating the issue.

[2020-07-21 08:49] lrossouw commented on #583
There is space for a link at the end of the line.  Last time we noted issues there was a note in Dr. Mkhize's press release, and that link was added to the line.  So I went looking for it before capturing 20 Jul 2020, but there was no note.  I have generally assumed that we just capture the data as is effectively.  So we can correct the by deducting the numbers somehow, but it will be a guess as t

[2020-07-21 09:49] andrealouw commented on #583
https://coronavirus.westerncape.gov.za/covid-19-dashboard
One could maybe use the date slider to update the cases for the WC.
But his would be a pain to maintain if the these continue to differ from the national report.

[2020-07-21 10:20] lrossouw commented on #583
Not sure if that would be correct, because the data we have to date is by date reported by Dept. of Health/NICD.  The data in the dashboard is by date of test I believe?  So you would see the most recent dates also has only a few cases.

[2020-07-21 11:56] shaze commented on #580
Thanks -- am closing

[2020-07-21 11:56] #580 closed

[2020-07-21 14:01] lrossouw commented on #583
I think I'm leaning towards option 2.  Agreed?

[2020-07-22 05:57] vukosim commented on #542
@reeshmabijosh I had used the contact on the website and still, never got a response.

2nd it is clearly described on both repos how they are archived and please resolve it.

[2020-07-22 06:03] vukosim commented on #573
Fixed @h-khoza
Please check and close if satisfied

[2020-07-22 06:13] vukosim commented on #522
Thanks @heerden

Can you check the current challenge with the automation and also add the mcmc automation. LGTM

[2020-07-22 12:56] Sarapsis commented on #115
Hi,

If you would like a central place to edit and add more hospitals to a dataset and visualize it on a map. I have used the data you created and added it to HERE Studio. https://studio.here.com/viewer/?project_id=181b1c1e-649f-4b56-a229-5d00024532e8

If it is something you are keen on using let me know and we can develop it further.

Thanks,
Clint

[2020-07-22 14:27] shaze opened #588 "[Feature] PDF Capture of Gauteng Status"
[Gauteng District Results Wednesday 22 July 2020 (1).pdf](https://github.com/dsfsi/covid19za/files/4960540/Gauteng.District.Results.Wednesday.22.July.2020.1.pdf)
**Is your feature request related to a problem? Please describe.**

Semi-automate the capturing of daily data from the GDOH rather than manual transcription

@SimonRosen173 **has offered to work on this**

**Describe the solution you'd li

[2020-07-22 18:25] heerden commented on #522
@vukosim Sorry, I should have followed up earlier on the last 3 automated action failures, but had another deadline.

Thanks for confirming the MCMC model.

The remote server is extremely finicky with pymc3 in a notebook, thus I will use a pure python script.

Will submit daily manual results for now and commit the automation on the weekend.

[2020-07-24 08:13] #573 closed

[2020-07-24 08:14] #583 closed

[2020-07-24 08:14] vukosim commented on #583
LGTM @lrossouw

[2020-07-24 08:14] #558 closed

[2020-07-24 14:28] elolelo commented on #115
Hi Clint,

Thanks for show casing what you did with the hospitals data.

I took a quick look at your map but was unable to edit . Do you maybe have a readme writing somewhere showing how one can make edits to the data on the map?

Also, is it ok that the map gets added to the projects showcased at the end of [ this page?](https://github.com/dsfsi/covid19za)